#rowheader {
    background-color: #909084;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}

#rowheader h1 {
   color: #f1f1f1;
   font-family: "Cinzel Decorative";
   font-size: 70px;
   padding-top: 40px;
   padding-bottom: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    border-bottom: solid #333333 15px;

}
.accordion .accordion-navigation > a, .accordion dd > a {
      background: #EFEFEF;
      color: #222222;
      display: block;
      font-family: "Quintessential";
      font-size: 20px;
      margin-top: 1rem;
      padding: 1rem; }


 .full-width {
  	max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
  	text-align: center;
  	font-family: Garamond;
  	font-size: 40px;
  	color: #fff;
  	background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }
