/* custom css for example.html*/

.overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }

.overlay-container .overlay1 {
    position: absolute; 
    bottom: 0px;         
    left: 25px;            
    right: 0px; 
    top: 10px;
    color: #7082A6;
    text-align: left;
    font-family: "Shadows Into Light";
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.overlay-container .overlay2 {
    position: absolute; 
    bottom: 25px;         
    left: 0px;            
    right: 0px; 
    margin-left: auto;
    margin-right: auto;
    color: #7082A6;
    padding-right: 40px;
}

#rowheader {
	background-color: #E76359;
	padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}

#rowheader h1 {
	color: #f1f1f1;
	font-family: "Poiret One";
	font-size: 80px;
	padding-top: 30px;
	padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}




/* quote section*/
#row1 {
	margin-top: 0px;
	padding-top: 30px;
	background-color: white;
	padding-bottom: 30px;
	margin-left: 30px;
}

#row1 h2 {
	padding-top: 0px;
	padding-left: 16px;
	padding-bottom: 20px;
	margin: 20px;
	text-align: center;
	font-family: "Special Elite";
	font-size: 35px;
	border-left: 7px solid #2E75EB; 
}


/*Text Blurb Left*/
#row2 {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	background-color: #1FA999;
	margin-bottom: 0px;
	
}

#row2 h2 {
	font-family: "Tangerine";
	
	padding-top: 30px;
	margin-bottom: 20px;
	margin-top: 0px;
	font-size: 48px;
	padding-bottom: 0px;
}

#row2 p {
	text-align: left;
	
	padding-bottom: 40px;
	font-family: Times;
	font-size: 19px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#orbit {
	margin-bottom: 30px;
	margin-top: 30px;
}


#orbit.exoribit img {
	width: 100%;
	height: auto;
	margin-top:20px;
	padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    display: block;

    
}

/* Text Blurb Center*/
#row3 {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #F45098;
	
}

#row3 h2 {
	padding-top: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: "Special Elite";
	margin-left: 0px;
}

#row3 p {
	text-align: left;
	padding-bottom: 30px;
	font-family: Times;
	font-size: 19px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#row4 {
	margin-top: 30px;
	margin-bottom: 30px;
}

#row4 h2 {
	color: #780B5B;
	font-family: "Sacramento";
	font-size: 45px;
}

#row5 {
	padding-bottom: 30px;
	background-color: #86EDFB;
}

#row5 h2 {
	padding-top: 30px;
	padding-bottom: 15px;
}

/* Text Blurb Right*/
#row6 {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	
}

#row6 h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	color: #333333;
	margin-bottom: 0px;
	text-align: right;
	font-family: Georgia;
	margin-left: 0px;
	margin-right: 50px;
}

#row6 p {
	text-align: left;
	padding-bottom: 40px;
	font-family: Times;
	font-size: 19px;
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
}

#row7 {
	padding: 30px;
	background-color: #657FE7;
}

#row7 h2 {
	font-family: "Poiret One";
}

/* Text Blurb Center*/
#row8 {
	padding-top: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	
}

#row8 div.panel {
	float: right;
	position: relative;
	margin-right: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
}

#row8 h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	color: #F45098;
	margin-bottom: 0px;
	text-align: center;
	font-family: "Verdana";
	margin-left: 0px;
}

#row8 p {
	text-align: left;
	margin-left: 80px;
	margin-right: 80px;
	padding-bottom: 30px;
	font-family: Times;
	font-size: 19px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#row8.clearfix2 {
	overflow: auto;
}

#row9 {
	background-color: #F3A800;
	padding-top: 0px;
	padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 0px;

}

#row9 h1 {
	color: #f1f1f1;
	font-family: "Sacramento";
	font-size: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

#row10 {
	background-color: #F39ADB;
}


#row11 i {
	font-size: 65px;
	margin-left: 5px;
}

  .full-width {
  	max-width: 1400px;


  }

  .footer {
  	margin-top: 20px;
    padding-top: 30px;
  	text-align: center;
  	font-family: Garamond;
  	
  	color: #fff;
  	background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }

  