/* custom css for ARCH2.html*/

.exoribit img {
	width: 100%;
	height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 0px;
	padding-bottom: 0px; 
}

header .orbit-bullets-container {
	position: absolute;
	bottom: 4%;
	right: 45%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	li {
		width: 2rem;
		height: 2rem;
	}
}

#rowheader {
	background-color: #CCCCB2;
	padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}

#rowheader h1 {
	color: #333333;
	font-family: "Cinzel Decorative", Georgia;
	font-size: 65px;
	padding-top: 20px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    border-bottom: solid #333333 15px;
   
    

}

.row.full-width {
padding-bottom: 0px;
margin-bottom: 0px;
padding-left:20px;
padding-right:20px;
}

.row.full-width h2 {
padding-top: 30px;
padding-bottom: 10px;
font-size: 45px;
font-family: "Quintessential";
}

.row.full-width p {
font-family: "Amiri";
font-size: 19px;
padding-bottom: 10px;
text-align: left;
}

figcaption {
font-family: "Amiri";
font-size: 15px;
}

#row1 {
	
    	padding-top: 10px;	
	background-color: white;
	margin-top: 0px;
	padding-bottom: 50px;
}

#row1 h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-family: "Petit Formal Script";
	font-size: 30px;
}

#row1 cite {
	right: 0px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	padding-right: 230px;
	text-align: right;
	
}

#row2 {
	margin-top: 0px;
	background-color: #909084;
	border-top: solid #333333 15px;

}



#row3 {
	padding-top: 30px;
	padding-bottom: 50px;
}

#row3 h3 {
	margin-top: 15px;
	font-size: 50px;
	font-family: "Quintessential", Georgia;
	padding-bottom: 20px;
}

button, .button {
	background-color: #333333;
}

.button:hover {
	background-color: #707070;
}


#row3 .button {
	margin-top: 100px;
	border-bottom-left-radius: 40.5px;
	border-bottom-right-radius:40.5px;
	border-top-left-radius: 40.5px;
	border-top-right-radius: 40.5px;
	padding-bottom: 10px;
	padding-top: 10px;

}

#row8 {
	padding-top: 0px;
	margin-bottom: 0px;
	background-color: #CCCCB2;
	
}





#row8 #panel {

	padding-left: 50px;
	
}




.footer {
	margin-top: 0px;
    padding-top: 20px;
  	text-align: center;
  	font-family: Garamond;
  	color: #fff;
  	background-color: #333333;
    

}


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }
