/* custom css for FriendsGOV.html*/

 .overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }
 
  banner img {
    max-width: 100em;
    margin: auto;
    display: block;
    background-color: #909084;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  header {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h3#firstModalTitle {
	font-family: "EB Garamond";
}

  #firstModal p {
	font-family: "Amiri";
}

 #rowheader1 {

	background-color: #333333;
	padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
	
}

#rowheader1 h1 {
	color: #f1f1f1;
	font-family: "Cinzel Decorative";
	font-size: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
   

}

  h3#mTitle {
	font-family: "EB Garamond";
}
 #mModal p {
	font-family: "Amiri";
}

.row.full-width {
padding-bottom: 0px;
margin-bottom: 0px;
padding-left:20px;
padding-right:20px;
}

.row.full-width h2 {
padding-top: 30px;
padding-bottom: 10px;
font-size: 45px;
font-family: "Quintessential";
}

.row.full-width p {
font-family: "Amiri";
font-size: 19px;
padding-bottom: 10px;
text-align: left;
}

figcaption {
font-family: "Amiri";
font-size: 15px;
}

#row7 {
	background-color: #CCCCB2;
}

#row3 {
        padding-top: 30px;
        padding-bottom: 50px;
	border-top: solid #333333 15px;
}

#row3 h3 {
        margin-top: 15px;
        font-size: 50px;
        font-family: "Quintessential", Georgia;
        padding-bottom: 20px;
}




button, .button {
        background-color: #333333;
}

.button:hover {
        background-color: #707070;
}


#row3 .button {
        margin-top: 100px;
        border-bottom-left-radius: 40.5px;
        border-bottom-right-radius:40.5px;
        border-top-left-radius: 40.5px;
        border-top-right-radius: 40.5px;
        padding-bottom: 10px;
        padding-top: 10px;

}

#row11 {
	background-color: #909084;
	border-top: solid #333333 15px;
	padding-bottom: 30px;
}

#row11 h3 {
	font-family: "Amiri";
}

button, .button {
	background-color: #333333;
	font-family: "EB Garamond";
}

.button:hover {
	background-color: #707070;
}

.full-width {
  	max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
  	text-align: center;
  	font-family: Garamond;
  	color: #fff;
  	background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }


