/* custom css for FriendsMED.html*/
 .overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }

 
 
  banner img {
    max-width: 100em;
    margin: auto;
    display: block;
    background-color: #909084;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  header {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h3#firstModalTitle {
	font-family: "EB Garamond";

}
   #firstModal p {
		font-family: "Amiri";
}


.row.full-width {
padding-bottom: 0px;
margin-bottom: 0px;
padding-left:20px;
padding-right:20px;
}

.row.full-width h2 {
padding-top: 30px;
padding-bottom: 10px;
font-size: 45px;
font-family: "Quintessential";
}

.row.full-width p {
font-family: "Amiri";
font-size: 19px;
padding-bottom: 10px;

}

figcaption {
font-family: "Amiri";
font-size: 15px;
}

 h3#mTitle {
	font-family: "EB Garamond";
}
 #mModal p {
	font-family: "Amiri";
}

  h3#aTitle {
	font-family: "EB Garamond";
}
 #aModal p {
	font-family: "Amiri";
}

  h3#bTitle {
	font-family: "EB Garamond";
}
 #bModal p {
	font-family: "Amiri";
}




  /* Text Blurb Center*/
#row3 {
    padding-top: 0px;
	padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #D9D5C8;
}    


#row3 h2 {
	text-align: center;
}

/* Text Blurb Right*/
#row4 {
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
       
}
#row4 h2 {
	text-align: right;
}
#row8 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #CCCCB2;
    padding-bottom: 30px;    
}

#row8 h2 {
	padding-bottom: 20px;
}

button, .button {
	background-color: #333333;
	font-family: "EB Garamond";
}

.button:hover {
	background-color: #707070;
}



#row2 {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
    background-color: #9E9E98;
    margin-bottom: 0px;
    
}

.full-width {
    max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
    text-align: center;
    font-family: Garamond;
    color: #fff;
    background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }
