  /* custom css for FriendsMORAL.html*/
 .overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }
 
  banner img {
    max-width: 100em;
    margin: auto;
    display: block;
    background-color: #909084;
    margin-bottom: 0px;
    margin-top: 0px;
  }

.row.full-width {
padding-bottom: 0px;
margin-bottom: 0px;
padding-left:20px;
padding-right:20px;
}

.row.full-width h2 {
padding-top: 30px;
padding-bottom: 10px;
font-size: 45px;
font-family: "Quintessential";
}

.row.full-width p {
font-family: "Amiri";
font-size: 19px;
padding-bottom: 10px;
}

figcaption {
font-family: "Amiri";
font-size: 15px;
}

  h3#mTitle {
	font-family: "EB Garamond";
}
 #mModal p {
	font-family: "Amiri";
}
  h3#aTitle {
	font-family: "EB Garamond";
}
 #aModal p {
	font-family: "Amiri";
}
  h3#bTitle {
	font-family: "EB Garamond";
}
 #bModal p {
	font-family: "Amiri";
}
  h3#cTitle {
	font-family: "EB Garamond";
}
 #cModal p {
	font-family: "Amiri";
}


  /* Text Blurb Center*/
#row3 {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 60px;
  background-color: #D9D5C8;
  
}


#row3 #panel {
  padding-bottom: 65px;
  margin-bottom: 0px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

#row3 #panel h1 {
   
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Tangerine";
  font-size: 45px;
}

#row3 #panel cite {
  font-size: 20px;
	font-family: "Amiri";
  text-align: right;
  position: absolute;
  margin-left: auto;
   margin-right: 5px;
	right: 0;
	left: 0;
	right: 6px;
	
}


#row5 {
 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: #909084;
  
}

#row5 h2 {
	text-align: center;
}


#row4 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white
  
}

#row4 h2 {
  text-align: right;
  }




  .full-width {
  	max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
  	text-align: center;
  	font-family: Garamond;
  	color: #fff;
  	background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }
