/* custom css for FriendsOCCU.html*/
 .overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }

 .overlay-container .overlay1 {
    position: absolute; 
    bottom: 0px;         
    left: 30px;            
    right: 0px; 
    top: 36px;
    color: white; /* pretty color of blue#7082A6 */
    font-family: "Shadows Into Light";
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}
 
  banner img {
    max-width: 100em;
    margin: auto;
    display: block;
    background-color: #333333;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  header {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

  }
 #rowheader {
	background-color: #333333;
	padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#rowheader h1 {
	color: #f1f1f1;
	font-family: "Poiret One";
	font-size: 80px;
	padding-top: 30px;
	padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
   

}

/* Text Blurb Right Float Image*/
#row8 {
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #CCCCB2;
    padding-bottom: 20px;
    
}



#row8 figure {
    padding-top: 20px;
    float: right;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}
    



#row8 h2 {
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 0px;
    color: black;
    margin-bottom: 15px;
    text-align: left;
    font-family: Georgia;
    margin-left: 20px;
    margin-right: 0px;
}

#row8 p {
    text-align: left;
    margin-left: 50px;
    margin-right: 420px;
    padding-bottom: 30px;
    font-family: Times;
    font-size: 19px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}


.clearfix {
    overflow: auto;
}

/* Text Blurb Left Float Image*/
#row9 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    
    
}



#row9 figure {
    float: left;
    position: relative;
    margin-right: 0px;
    margin-left: 30px;
    margin-bottom: 40px;
}
    



#row9 h2 {
    padding-top: 30px;
    padding-right: 25px;
    margin-top: 0px;
    color: black;
    margin-bottom: 15px;
    text-align: right;
    font-family: Georgia;
    margin-left: 20px;
    margin-right: 0px;
}

#row9 p {
    text-align: left;
    margin-left: 420px;
    margin-right: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    font-family: Times;
    font-size: 19px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}


#row9.clearfix1 {
    overflow: auto;
}

/* Text Blurb Right Float Image*/
#row10 {
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #909084;
    padding-bottom: 20px;
    
}



#row10 figure {
    padding-top: 20px;
    float: right;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}
    



#row10 h2 {
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 0px;
    color: black;
    margin-bottom: 15px;
    text-align: left;
    font-family: Georgia;
    margin-left: 20px;
    margin-right: 0px;
}

#row10 p {
    text-align: left;
    margin-left: 50px;
    margin-right: 420px;
    padding-bottom: 30px;
    font-family: Times;
    font-size: 19px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}


.clearfix {
    overflow: auto;
}

  .full-width {
    max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
    text-align: center;
    font-family: Garamond;
    font-size: 40px;
    color: #fff;
    background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }