/* custom css for example.html*/
 .overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }

.overlay-container .overlay2 {
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    left: 0;
    right: 0;
    color: white;
    font-family: "Amiri";
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
} 
 
  banner img {
    max-width: 100em;
    margin: auto;
    display: block;
    background-color: #909084;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  header {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

    #rowheader {
    background-color: #333333;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}

#rowheader h1 {
    color: #f1f1f1;
    font-family: "Cinzel Decorative";
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
   

}


  h3#mTitle {
	font-family: "EB Garamond";
}
 #mModal p {
	font-family: "Amiri";
}

  h3#aTitle {
	font-family: "EB Garamond";
}
 #aModal p {
	font-family: "Amiri";
}

  h3#bTitle {
	font-family: "EB Garamond";
}
 #bModal p {
	font-family: "Amiri";
}

/* quote section*/
#row1 {
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;
    padding-bottom: 30px;
    
}

#row1 h1 {
    padding-top: 30px;
    
    padding-bottom: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Petit Formal Script";
    font-size: 30px;
}

#row1 p {
  font-size: 20px;
  text-align: right;
  font-family: Georgia;
  }

.row.full-width {
padding-bottom: 0px;
margin-bottom: 0px;
padding-left:20px;
padding-right:20px;
}


.row.full-width h2 {
padding-top: 30px;
padding-bottom: 10px;
font-size: 45px;
font-family: "Quintessential";
}

.row.full-width p {
font-family: "Amiri";
font-size: 19px;
padding-bottom: 10px;
text-align: left;
}


figcaption {
font-family: "Amiri";
font-size: 15px;
}




/* Text Blurb Right Float Image*/
#row8 {
    border-bottom: solid #333333 15px;
    border-top: solid #333333 15px;

    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #CCCCB2;
    
}




/* Text Blurb Center*/
#row3 {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

    
}

#row4 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #909084;
    
}


#row4 h2 { 
	text-align: right;
}

.full-width {
    max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
    text-align: center;
    font-family: Garamond;
     color: #fff;
    background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }
