/* custom css for FriendsTHEO.html */

.overlay-container {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }

 .overlay-container .overlay1 {
    position: absolute; 
    bottom: 0px;         
    left: 0px;
    text-align: right;            
    right: 30px; 
    top: 15px;
    color: white; /* pretty color of blue#7082A6 */
    font-family: "Shadows Into Light";
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}
 
  banner img {
    max-width: 100em;
    margin: auto;
    display: block;
    background-color: #909084;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  header {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

#row11 {
	background-color: #909084;
	padding-top: 0px;


}

#row11 h1 {
	margin-top:0px;
	padding-top: 20px;
	padding-left: 100px;
	font-size: 60px;
	font-family: Times;
}

#row11 p {
	font-size: 18px;
}
 #row11 #second {
 	padding-bottom: 30px;
 }



  /* Text Blurb Right Float Image*/
#row8 {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #CCCCB2;
	
}



#row8 figure {
	float: right;
	position: relative;
	margin-right: 30px;
	margin-bottom: 30px;
}
	



#row8 h2 {
	padding-top: 30px;
	margin-top: 0px;
	color: black;
	margin-bottom: 15px;
	text-align: left;
	font-family: Georgia;
	margin-left: 20px;
	margin-right: 0px;
}

#row8 p {
	text-align: left;
	margin-left: 50px;
	margin-right: 420px;
	padding-bottom: 30px;
	font-family: Times;
	font-size: 19px;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}


.clearfix {
	overflow: auto;
}

#row9 {
	background-color: white;

}

#row9 h2 {
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 10px;
}


#row9 figure {
	float: left;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-left: 45px;
	padding-right: 37px;
}
	


#row9 p {
	text-align: left;
	
	margin-right: 0px;
	margin-left: 45px;
	padding-right: 30px;
	padding-bottom: 35px;
	font-family: Times;
	font-size: 19px;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}


#row9.clearfix1 {
	overflow: auto;
}


.full-width {
  	max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
  	text-align: center;
  	font-family: Garamond;
  	font-size: 40px;
  	color: #fff;
  	background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }