/* custom css for FriendsYORK.html*/
 .overlay-container {
    position: relative;
    
    margin-bottom: 0px;
    margin-top: 0px;
  }

 .overlay-container .overlay1 {
    position: absolute;
    vertical-align: middle;  
    bottom: 0px;         
    margin-left: auto; 
    margin-right: auto;
    left: 0;
    right: 0;   
    text-align: center;
    color: white; /* pretty color of blue#7082A6 */
    font-family: "Cinzel Decorative";
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.overlay-container .overlay2 {
    position: absolute;
    top: 0;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    left: 0;
    right: 0;
    color: white;
    font-family: "Amiri";
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

 
  banner img {
    max-width: 100em;
    margin: auto;
    display: relative;
    background-color: #909084;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: text-bottom;
  }
 
  h3#mTitle {
	font-family: "EB Garamond";
}

 #mModal p {

	font-family: "Amiri";
}



#row8 {
    margin-top: 0px;  
    margin-bottom: 0px;
    background-color: #CCCCB2;
    
}


#row8 p {
	font-size: 20px;
}
.row.full-width {
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left:20px;
	padding-right:20px;
}

.row.full-width h2 {
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 45px;
	font-family: "Quintessential";
}

.row.full-width p {
	font-family: "Amiri";
	font-size: 19px;
	padding-bottom: 10px;
	text-align: left;	
}

figcaption {
	font-family: "Amiri";
	font-size: 15px;
}

/*Text Blurb Center*/
#row3 {
    background-color: #909084;
    
}

#row3 h2 {
    text-align: center;
    
}

#row3 p {
	padding-bottom: 40px;
}



#row9 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

 


#row9 h2 {
    text-align: center;
    
}

#row9 #figure1 {
	padding-top: 150px;

}


  .full-width {
    max-width: 1400px;


  }

  .footer {
    padding-top: 20px;
    text-align: center;
    font-family: Garamond;
    color: #fff;
    background-color: #292C2F;
    

  }


.footer {
  .columns:nth-child(n+2) {
      border-left: 1px solid scale-color(#f1f1f1, $lightness: -30%);
     min-height: 280px;
  }
 }
