{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
  {% include "top-links.html" %}
  <!--IGNORE THESE-->







   
    <link rel = "stylesheet" href = "{% static "css/bib.css" %}"> <!--this is your css file you will make changes to -->
    <title>Bibliography &amp; Credits</title>
   </head> <!-- you always need all these links-->
   

   <body>
    <!--the following really long segment is just the code for the menu/navigation bar!!-->
     <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-large-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="/">Quakers&amp;Mental Health</a></li>
                <li><a href="/theology">About</a>
                  <ul>
                    <li><a href="/theology">Learn More</a></li>
			<li><a href="/related">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                    <li><a href="/contrib">Contribute to Research</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/future">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="/theology">Backround &amp; Context</a>
                  <ul>
                    <li><a href="/theology">Theology &amp; Mental Health</a></li>
                    <li><a href="/york">York Retreat</a></li>

                  </ul>
                </li>
                 <li><a href="/found">Early History</a></li>
                 <ul>
                    <li><a href="/found">Foundation</a></li>
                    <li><a href="/arch">Architecture</a></li>
                    <li><a href="/structure"> Structure &amp; Governance</a></li>
                    <li><a href="/profiles">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="/moral">Moral Treatment</a></li>
                  <ul>
                    <li><a href="/moral">Introduction</a></li>
                    <li><a href="/religion">Religious Life at the Asylum</a></li>
                    <li><a href="/occu">Occupational Therapy</a></li>
                    
                  </ul>
                <li><a href="/medical">Medical Treatment</a>
                  <ul>
                    <li><a href="/medical">Introduction</a></li>
                    
                  </ul>
                </li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="/bibliograpy">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>
    
      <div class = "sticky">
        <nav class="top-bar show-for-large-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "/">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="has-dropdown"><a href="/theology">About</a>
                <ul class = "dropdown">
                  <li><a href = "/theology">Learn More</a></li>
			<li><a href="/related">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                  <li><a href= "/contrib"> Contribute to Research</a> </li>
                  <li><a href="/features">Features</a></li>
                  <li><a href="/future">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Backround &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
            
               </ul>
              </li>
              <li class = "has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure"> Structure &amp; Governance</a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asylum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
               
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li class = "active"><a href="#">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>

    <!-- end of navigation bar-->


    <div id = "rowheader">
      <h1> <strong><u>Bibliography &amp; Credits </u></strong> </h1>
    </div>

<div id = "row3">    

    <ul class="tabs show-for-large-up" data-tab>
  <li class="tab-title active"><a href="#panel1">Archival Sources</a></li>
  <li class="tab-title"><a href="#panel2">Published Sources</a></li>
  <li class="tab-title"><a href="#panel3">Further Reading</a></li>
  <li class="tab-title"><a href="#panel4">Credits</a></li>
</ul>
<div class="tabs-content show-for-large-up">
  <div class="content active" id="panel1">
    <div class = "row">
    <ul class = "no-bullet" id = "list">
    <li>Bonsall, Isaac. Superintendent’s Day Book, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>
    <li>Caleb Cresson Letters, Folder 1, Box 16, Families of Philadelphia Collection, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>
    <li>Minutes of the Contributors to the Asylum, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
    <li>Minutes of the Friends Asylum Building Committee, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
    <li>Minutes of the Visiting Committee, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>
    </ul>
    </div>
  </div>
  <div class="content" id="panel2">
    <div class = "row">
      <ul class = "no-bullet" id = "list">
	<li>Account of the Rise and Progress of the Asylum: Proposed to be Established, near Philadelphia, for the Relief of Persons Deprived of the Use of their Reason. With an Account of the Retreat, a Similar Institution near York, in England. Philadelphia: Kimber and Conrad, 1814.  </li>        
          <li>D’Antonio, Patricia. Founding Friends: Families, Staff, and Patients at the Friends Asylum in Early Nineteenth Century Philadelphia. Bethlehem: Lehigh University Press, 2006. </li>
          <li>Digby, Anne. “Moral Treatment at the Retreat, 1796-1846.” In The Anatomy of Madness Volume II, edited by W.F. Bynum, Roy Porter, and Michael Shepherd, 52-72. London: Tavistock Publications, 1985. </li>
          <li>Eddy, Thomas. “Hints for Introducing an Improved Mode of Treating the Insane in the Asylum.” 1815.
          Gale, T. Electricity, or Ethereal Fire, Considered. Troy: Moffitt and Lyon, 1802. </li>
          <li>Godlee, Fiona. “Aspects of Non-Conformity: Quakers and the Lunatic Fringe.” In The Anatomy of Madness Volume II, edited by W.F. Bynum, Roy Porter, and Michael Shepherd, 73-82. London: Tavistock Publications, 1985.</li>
          <li>Herlihy, David V. Bicycle: A History. New Haven: Yale University Press, 2004. 
          <li>Spurzheim, Johann Christoph. Observations on the Deranged Manifestations of the Mind, or Insanity. Gainesville, FL: Scholars’ Facsimiles and Reprints, 1970.</li>
          <li>Tuke, Samuel. Description of the Retreat, An Institution Near York for Insane Persons of the Religious Society of Friends, Containing an Account of its Origin and Progress, the Modes of Treatment, and a Statement of Cases. London: Dawsons of Pall Mall, 1813.</li>
          <li>Waln, Robert Jr. An Account of the Asylum for the Insane, Established by the Society of Friends, Near Frankford, in the Vicinity of Philadelphia. Philadelphia: Benjamin and Thomas Kite, 1825.</li>
      </ul>
    </div>
  </div>
  <div class="content" id="panel3">
    <div class = "row">
    <ul class = "no-bullet" id = "list">
    <li>Barbour, Hugh and J. William Frost. The Quakers. New York: Greenwood Press, 1988. </li>
    <li>Brodsky, Alyn. Benjamin Rush: Patriot and Physician. New York: Truman Talley Books, 2004.</li>
    <li>Cherry, Charles L. A Quiet Haven: Quakers, Moral Treatment, and Asylum Reform. Cranbury, NJ: Associated University Presses, 1989.</li>
    <li>Delbourgo, James. A Most Amazing Scene of Wonders: Electricity and Enlightenment in Early America. Cambridge: Harvard University Press, 2006. </li>
    <li>Deutsch, Albert. The Mentally Ill in America: A History of their Care and Treatment from Colonial Times. New York: Columbia University Press, 1967.</li>
    <li>Evans, Charles. Account of the Asylum for the Relief of Persons Deprived of the Use of their Reason near Frankford, Pennsylvania: with the Statistics of the Institution from its Foundation to the 31st 12th month, 1838. Philadelphia: T.K. and P.G. Collins, 1839.</li>
    <li>“Glossary of Quaker Terms and Concepts.” New York Yearly Meeting. Accessed July 14, 2015. http://www.nyym.org/?q=glossary.</li>
    <li>Goodheart, Lawrence B. Mad Yankees: The Hartford Retreat for the Insane and Nineteenth-Century Psychiatry. Boston: University of Massachusetts Press, 2003.</li>
    <li>Gough, John Parker. An Essay on Cantharides; Comprising a Brief Account, of their Natural History, an Inquiry into their Mode of Operation, and their use in Diseases: with Some Remarks Relative to the Time when they Should be Employed. Philadelphia: Way and Groff, 1800. </li>
    <li>Hamm, Thomas. The Transformation of American Quakerism: Orthodox Friends, 1800-1907. Bloomington: Indiana University Press, 1988. </li>
    <li>Ingle, Larry H. Quakers in Conflict: The Hicksite Reformation. Knoxville: University of Tennessee Press, 1986.
    <li>Porter, Roy. Madness: A Brief History. Oxford: Oxford University Press, 2002.</li>
    <li>“Quakers and Slavery Glossary.” Quakers and Slavery. Accessed July 14, 2015. http://trilogy.brynmawr.edu/speccoll/quakersandslavery/resources/glossary.php.</li>
    <li>Scull, Andrew. Madness: A Very Short Introduction. Oxford: Oxford University Press, 2011.</li>
    <li>Tomes, Nancy. A Generous Confidence: Thomas Story Kirkbride and the Art of Asylum-Keeping, 1840-1883. New York: University of Cambridge Press, 1984.</li>
    </ul>
  </div>
  </div>
  <div class="content" id="panel4">
    <div class = "row">

    <div class = "panel  radius">
    <h2> Student Curators </h2>
      <ul class = "no-bullet">
      <li><strong>Abby Corcoran '17, Greensboro, NC</strong></li>
      <li><strong>Major/Minor:</strong> History/English</li>
      <p class = "abby">Along with Lindsay, I spent the summer researching the early history of the Friends Asylum. I looked at how the founders' Quakerism influenced their ideas about the curability mental illness, and wrote an essay using this research. The research that Lindsay and I have been doing will create a framework for future projects about Quakers and mental health, which will be housed on the website that Lindsay has created.</p>
      </ul>
    
    <ul class = "no-bullet">
    <li><strong>Lindsay Silver '15, Hingham, MA</strong></li>
    <li><strong>Major/Minors:</strong> English/Computer Science, Spanish</li>
    <p>Working in conjunction with Abby, I am creating a website which focuses on the framing research she has been doing all summer. For the website, I am also looking at ways we can extract data from the collection which can then be included in interesting and interactive visualizations online. I also hope to create the website in such a way as to lay the groundwork for future digital projects related to Quakers and mental health.</p>
    </ul>
</div>

<div class = "panel radius">
<h2> Additional Coordinators </h2>
<ul class = "no-bullet">
  <li><strong>Laurie Allen</strong>, Coordinator for Digital Scholarship and Services </li>
  <li> <strong>Sarah Horowitz</strong>, Head of Special Collections</li>
  <li><strong> Mike Zarafonetis</strong>, Digital Scholarship Librarian</li>
  <li><strong>Darin Hayton</strong>, Historian of Science </li>
</ul>
</div>



    
  </div>
  </div>
</div>
</div>

<div class = "row full-width" id = "row5">
<ul class="accordion hide-for-large-up" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Archival Sources</a>
    <div id="panel1a" class="content">
    <div class = "row">
    <ul class = "no-bullet" id = "list">
    <li>Bonsall, Isaac. Superintendent’s Day Book, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>
    <li>Caleb Cresson Letters, Folder 1, Box 16, Families of Philadelphia Collection, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>
    <li>Minutes of the Contributors to the Asylum, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
    <li>Minutes of the Friends Asylum Building Committee, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
    <li>Minutes of the Visiting Committee, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>
    </ul>
    </div>
  </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Published Sources</a>
    <div id="panel2a" class="content">
      <div class = "row">
      <ul class = "no-bullet" id = "list">
          
          <li>D’Antonio, Patricia. Founding Friends: Families, Staff, and Patients at the Friends Asylum in Early Nineteenth Century Philadelphia. Bethlehem: Lehigh University Press, 2006. </li>
          <li>Digby, Anne. “Moral Treatment at the Retreat, 1796-1846.” In The Anatomy of Madness Volume II, edited by W.F. Bynum, Roy Porter, and Michael Shepherd, 52-72. London: Tavistock Publications, 1985. </li>
          <li>Eddy, Thomas. “Hints for Introducing an Improved Mode of Treating the Insane in the Asylum.” 1815.
          Gale, T. Electricity, or Ethereal Fire, Considered. Troy: Moffitt and Lyon, 1802. </li>
          <li>Godlee, Fiona. “Aspects of Non-Conformity: Quakers and the Lunatic Fringe.” In The Anatomy of Madness Volume II, edited by W.F. Bynum, Roy Porter, and Michael Shepherd, 73-82. London: Tavistock Publications, 1985.</li>
          <li>Herlihy, David V. Bicycle: A History. New Haven: Yale University Press, 2004. 
          <li>Spurzheim, Johann Christoph. Observations on the Deranged Manifestations of the Mind, or Insanity. Gainesville, FL: Scholars’ Facsimiles and Reprints, 1970.</li>
          <li>Tuke, Samuel. Description of the Retreat, An Institution Near York for Insane Persons of the Religious Society of Friends, Containing an Account of its Origin and Progress, the Modes of Treatment, and a Statement of Cases. London: Dawsons of Pall Mall, 1813.</li>
          <li>Waln, Robert Jr. An Account of the Asylum for the Insane, Established by the Society of Friends, Near Frankford, in the Vicinity of Philadelphia. Philadelphia: Benjamin and Thomas Kite, 1825.</li>
      </ul>
    </div>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3a">Further Reading</a>
    <div id="panel3a" class="content">
    <div class = "row">
    <ul class = "no-bullet" id = "list">
    <li>Barbour, Hugh and J. William Frost. The Quakers. New York: Greenwood Press, 1988. </li>
    <li>Brodsky, Alyn. Benjamin Rush: Patriot and Physician. New York: Truman Talley Books, 2004.</li>
    <li>Cherry, Charles L. A Quiet Haven: Quakers, Moral Treatment, and Asylum Reform. Cranbury, NJ: Associated University Presses, 1989.</li>
    <li>Delbourgo, James. A Most Amazing Scene of Wonders: Electricity and Enlightenment in Early America. Cambridge: Harvard University Press, 2006. </li>
    <li>Deutsch, Albert. The Mentally Ill in America: A History of their Care and Treatment from Colonial Times. New York: Columbia University Press, 1967.</li>
    <li>Evans, Charles. Account of the Asylum for the Relief of Persons Deprived of the Use of their Reason near Frankford, Pennsylvania: with the Statistics of the Institution from its Foundation to the 31st 12th month, 1838. Philadelphia: T.K. and P.G. Collins, 1839.</li>
    <li>“Glossary of Quaker Terms and Concepts.” New York Yearly Meeting. Accessed July 14, 2015. http://www.nyym.org/?q=glossary.</li>
    <li>Goodheart, Lawrence B. Mad Yankees: The Hartford Retreat for the Insane and Nineteenth-Century Psychiatry. Boston: University of Massachusetts Press, 2003.</li>
    <li>Gough, John Parker. An Essay on Cantharides; Comprising a Brief Account, of their Natural History, an Inquiry into their Mode of Operation, and their use in Diseases: with Some Remarks Relative to the Time when they Should be Employed. Philadelphia: Way and Groff, 1800. </li>
    <li>Hamm, Thomas. The Transformation of American Quakerism: Orthodox Friends, 1800-1907. Bloomington: Indiana University Press, 1988. </li>
    <li>Ingle, Larry H. Quakers in Conflict: The Hicksite Reformation. Knoxville: University of Tennessee Press, 1986.
    <li>Porter, Roy. Madness: A Brief History. Oxford: Oxford University Press, 2002.</li>
    <li>“Quakers and Slavery Glossary.” Quakers and Slavery. Accessed July 14, 2015. http://trilogy.brynmawr.edu/speccoll/quakersandslavery/resources/glossary.php.</li>
    <li>Scull, Andrew. Madness: A Very Short Introduction. Oxford: Oxford University Press, 2011.</li>
    <li>Tomes, Nancy. A Generous Confidence: Thomas Story Kirkbride and the Art of Asylum-Keeping, 1840-1883. New York: University of Cambridge Press, 1984.</li>
    </ul>
  </div>
      
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel4a">Credits</a>
    <div id="panel4a" class="content">
     <div class = "row">

    <div class = "panel  radius">
    <h2> Student Curators </h2>
      <ul class = "no-bullet">
      <li><strong>Abby Corcoran '17, Greensboro, NC</strong></li>
      <li><strong>Major/Minor:</strong> History/English</li>
      <p>Along with Lindsay, I spent the summer researching the early history of the Friends Asylum. I looked at how the founders' Quakerism influenced their ideas about the curability mental illness, and wrote an essay using this research. The research that Lindsay and I have been doing will create a framework for future projects about Quakers and mental health, which will be housed on the website that Lindsay has created.</p>
      </ul>
    
    <ul class = "no-bullet">
    <li><strong>Lindsay Silver '15, Hingham, MA</strong></li>
    <li><strong>Major/Minors:</strong> English/Computer Science, Spanish</li>
    <p>Working in conjunction with Abby, I am creating a website which focuses on the framing research she has been doing all summer. For the website, I am also looking at ways we can extract data from the collection which can then be included in interesting and interactive visualizations online. I also hope to create the website in such a way as to lay the groundwork for future digital projects related to Quakers and mental health.</p>
    </ul>
</div>

<div class = "panel radius">
<h2> Additional Coordinators </h2>
<ul class = "no-bullet">
  <li>Laurie Allen, Coordinator for Digital Scholarship and Services </li>
  <li> Sarah Horowitz, Head of Special Collections</li>
  <li> Mike Zarafonetis, Digital Scholarship Librarian</li>
  <li>Darin Hayton, Historian of Science </li>
</ul>
</div>



    
  </div>
      
    </div>
  </li>
</ul>
</div>
























{% include 'footer-simple.html' %}
      

      




       </div><!-- end inner wrap of menu/navigation bar, must go after ALL content -->
     </div><!-- end offcanvas -->

    
    <!-- you also always need the following bottom links -->
    {% include 'bottom-links.html' %}
  </body>
</html>
