<div class = "row" id = "row4">
      <div class = "large-12 columns text-center">
        <h3> <strong>FEATURES</strong></h3>
      </div>
    </div>
    <div class = "row" id = "row5">
      <div class = "large-12 columns">
        <ul class = "large-block-grid-3 medium-block-grid-3 small-block-grid-3">
          <li><a class = "th radius" href ="/profiles"><img src = "{% static "Images/Scattergood.jpg" %}" alt ="Patient Info"></a></li>
          <li><a class = "th radius" href ="/pieq"><img src = "{% static "Images/Pie Chart of Quaker Meetings.jpg" %}" alt ="Quaker Meetings Pie Chart"></a></li>
          <li><a class = "th radius" href ="/found#mentalhealth"><img src = "{% static "Images/Curability Language Graph 2.png" %}" alt ="Mental Health Language"></a></li>
          <ul class = "button-group even-3">
            <li><a href="/profiles" class="button small radius secondary even">Patient Info</a></li>
            <li><a href="/pieq" class="button small radius secondary">Quaker Meeting Pie Chart</a></li>
            <li><a href="/found#mentalhealth" class="button small radius secondary">Curability Language</a></li>
          </ul>
          <li><a class = "th radius" href ="#"><img src = "{% static "Images/Pie Chart.jpg" %}" alt ="Revenues Pie Chart"></a></li>
          <li><a class = "th radius" href ="/glossary"><img src = "{% static "Images/Patientinfo.jpg" %}" alt ="Glossary of Terms"></a></li>
          <li><a class = "th radius" href ="#"><img src = "{% static "Images/cartodb.jpg" %}" alt ="Mapping Friends Asylum"></a></li>
          <ul class = "button-group even-3">
            <li><a href="#" class="button small radius secondary">Revenue &amp; Expenses Pie Chart</a></li>
            <li><a href="/glossary" class="button small radius secondary">Glossary of Terms</a></li>
            <li><a href="#" class="button small radius secondary">Mapping the Asylum</a></li>
          </ul>
        </ul>
    <br> </br>
      </div>
    </div>


<div id = "row4">
  	<div class="row full-width text-center">

  <div class="small-4 medium-4 large-4 columns text-center">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="/profiles"><img src = "{% static "Images/Scattergood.jpg" %}" alt ="Patient Info"></a>

      <div class="image-overlay-content">

        <h2>Patient Info</h2>    

        
      </div>  

    </div>
</div>

<div class="small-4 medium-4 large-4 columns text-center">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="/pieq"><img src = "{% static "Images/Pie Chart of Quaker Meetings.jpg" %}" alt ="Quaker Meetings Pie Chart"></a>    

      <div class="image-overlay-content">

        <h2>Quaker Meeting Pie Chart</h2>    

        
      </div>  

    </div>
</div>
<div class="small-4 medium-4 large-4 columns text-center">

    <div class="image-wrapper overlay-fade-in">      

     <a href ="/found#mentalhealth"><img src = "{% static "Images/Curability Language Graph 2.png" %}" alt ="Mental Health Language"></a> 

      <div class="image-overlay-content">

        <h2>Curability Language Graph</h2>    

        
      </div>  

    </div>
</div>
</div>

<div class="row full-width text-center">

  <div class="small-4 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="#"><img src = "{% static "Images/Pie Chart.jpg" %}" alt ="Revenues Pie Chart"></a>

      <div class="image-overlay-content">

        <h2>Revenue &amp; Expenses Pie Chart</h2>    

        
      </div>  

    </div>
</div>

<div class="small-4 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">      

     <a href ="/glossary"><img src = "{% static "Images/Patientinfo.jpg" %}" alt ="Glossary of Terms"></a> 

      <div class="image-overlay-content">

        <h2>Glossary of Terms</h2>    

        
      </div>  

    </div>
</div>
<div class="small-4 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="#"><img src = "{% static "Images/cartodb.jpg" %}" alt ="Mapping Friends Asylum"></a>    

      <div class="image-overlay-content">

        <h2>Mapping</h2>    

        
      </div>  

    </div>
</div>
</div>
</div>


