{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
  

   {% include 'top-links.html' %}
    <link rel="stylesheet" href="{% static "css/features.css" %}">

   
    <title>Features</title>
   </head> <!-- you always need all these links-->
   <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-large-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="/">Quakers&amp;Mental Health</a></li>
                <li><a href="/theology">About</a>
                  <ul>
                    <li><a href="/theology">Learn More</a></li>
			<li><a href="/related">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                    <li><a href="/contrib">Contribute to Research</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="/future">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="/theology">Background &amp; Context</a>
                  <ul>
                    <li><a href="/theology">Theology &amp; Mental Health</a></li>
                    <li><a href="/york">York Retreat</a></li>
                    
                  </ul>
                </li>
                 <li><a href="/found">Early History</a></li>
                 <ul>
                    <li><a href="/found">Foundation</a></li>
                    <li><a href="/arch">Architecture</a></li>
                    <li><a href="/structure">Structure &amp; Governance  </a></li>
                    <li><a href="/profiles">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="/moral">Moral Treatment</a></li>
                  <ul>
                    <li><a href="/moral">Introduction</a></li>
                    <li><a href="/religion">Religious Life at the Asylum</a></li>
                    <li><a href="/occu">Occupational Therapy</a></li>
                    
                  </ul>
                <li><a href="/medical">Medical Treatment</a>
                  <ul>
                    <li><a href="/medical">Introduction</a></li>
                   
                  </ul>
                </li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>
    
      <div class = "sticky">
        <nav class="top-bar show-for-large-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
		<li class ="show-for-xlarge-up"> <a href= "/">Quakers &amp; Mental Health</a></li>
                 <li class = "show-for-large-down"> <a href = "/"> <i class = "fi-home"></i></a></li>
            </ul> 
            <ul class = "right">
              <li class="active has-dropdown"><a href="/theology">About</a>
                <ul class = "dropdown">
                  <li><a href = "/theology">Learn More</a></li>
			<li><a href="/related">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                  <li><a href= "/contrib"> Contribute to Research</a></li>
                   <li class = "active"><a href="#">Features</a></li>
                  <li><a href="/future">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Background &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
               </ul>
              </li>
              <li class="has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure"> Structure &amp; Governance </a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asylum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
          
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
                
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>


 <div id = "rowheader">
      <h1> <strong>Website Features </strong> </h1>
    </div>

<div id = "row4">
  	<div class="row text-center">

  <div class="small-12 medium-6 large-4 columns text-center">

    <a href = "/profiles"><div class="image-wrapper overlay-fade-in">

     <img src = "{% static "Images/Scattergood.jpg" %}" alt ="Patient Info">

      <div class="image-overlay-content">

        <h2>Patient Info</h2>

        
      </div>

    </div></a>
</div>

<div class="small-12 medium-6 large-4 columns text-center">

    <a href = "/pieq"><div class="image-wrapper overlay-fade-in">

    <img src = "{% static "Images/Pie Chart of Quaker Meetings.jpg" %}" alt ="Quaker Meetings Pie Chart">

      <div class="image-overlay-content">

        <h2>Quaker Meeting Pie Chart</h2>

        
      </div>

    </div></a>
</div>
<div class="small-12 medium-6 large-4 columns text-center">

    <a href = "/ptable"><div class="image-wrapper overlay-fade-in">

    <img src = "{% static "Images/tables.png" %}" alt ="Ptable">

      <div class="image-overlay-content">

        <h2>Patient Information Table</h2>


      </div>

    </div></a>
</div>
<div class="small-12 medium-6 large-4 columns text-center">

    <a href = "/bargraph"><div class="image-wrapper overlay-fade-in">

    <img src = "{% static "Images/bargraph.png" %}" alt ="Bar Graph">

      <div class="image-overlay-content">

        <h2>Patient Bar Graph</h2>


      </div>

    </div></a>
</div>
<div class="small-12 medium-6 large-4 columns text-center">

    <a href = "/essay"><div class="image-wrapper overlay-fade-in">

    <img src = "{% static "Images/essay2.png" %}" alt ="Quaker Meetings Pie Chart">

      <div class="image-overlay-content">

        <h2>Framing Essay</h2>


      </div>

    </div></a>
</div>
<div class="small-12 medium-6 large-4 columns text-center">

    <a href = "/glossary"><div class="image-wrapper overlay-fade-in">      

     <img src = "{% static "Images/Patientinfo.jpg" %}" alt ="Glossary Terms"> 

      <div class="image-overlay-content">

        <h2>Glossary of Terms </h2>    

        
      </div>  

    </div></a>
</div>
</div>
</div>
</div>






     {% include 'footer-simple.html' %}
       

            <a href = "/theology"> About </a> | <a href = "/theology"> Learn More </a> |<a href = "/contrib">  Contribute to Research</a>| <a href = "/related"> Related Projects </a> | <a href = "/future"> Future Directions </a>  
        </div>
        
        

      </div>
    </footer>
      

       </div><!-- end inner wrap of menu/navigation bar, must go after ALL content -->
     </div><!-- end offcanvas -->

    {% include 'bottom-links.html' %}
  </body>
</html>

