{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
  

   {% include 'top-links.html' %}
    <link rel="stylesheet" href="{% static "css/features.css" %}">

   
    <title>Features</title>
   </head> <!-- you always need all these links-->
   <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-large-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="/">Quakers&amp;Mental Health</a></li>
                <li><a href="/essay">About</a>
                  <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Contribute to Research</a></li>
                    <li><a href="/essay">Related Projects</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="/future">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="/theology">Background &amp; Context</a>
                  <ul>
                    <li><a href="/theology">Theology &amp; Mental Health</a></li>
                    <li><a href="/york">York Retreat</a></li>
                    
                  </ul>
                </li>
                 <li><a href="/found">Early History</a></li>
                 <ul>
                    <li><a href="/found">Foundation</a></li>
                    <li><a href="/arch">Architecture</a></li>
                    <li><a href="/structure">Structure&amp; Governance  </a></li>
                    <li><a href="/profiles">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="/moral">Moral Treatment</a></li>
                  <ul>
                    <li><a href="/moral">Introduction</a></li>
                    <li><a href="/religion">Religious Life at the Asylum</a></li>
                    <li><a href="/occu">Occupational Therapy</a></li>
                    
                  </ul>
                <li><a href="/medical">Medical Treatment</a>
                  <ul>
                    <li><a href="/medical">Introduction</a></li>
                   
                  </ul>
                </li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>
    
      <div class = "sticky">
        <nav class="top-bar show-for-large-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "/">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="active has-dropdown"><a href="#">About</a>
                <ul class = "dropdown">
                  <li><a href = "#">Learn More</a></li>
                  <li><a href= "#"> Contribute to Research</a></li>
                  <li><a href="/essay">Related Projects</a></li>
                  <li class = "active"><a href="#">Features</a></li>
                  <li><a href="/future">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Background &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
               </ul>
              </li>
              <li class="has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure"> Structure&amp; Governance </a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asylum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
          
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
                
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>


 <div id = "rowheader">
      <h1> <strong>Website Features </strong> </h1>
    </div>

<div id = "row4">
  	<div class="row full-width text-center">

  <div class="small-4 medium-4 large-4 columns text-center">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="/profiles"><img src = "{% static "Images/Scattergood.jpg" %}" alt ="Patient Info"></a>

      <div class="image-overlay-content">

        <h2>Patient Info</h2>    

        
      </div>  

    </div>
</div>

<div class="small-4 medium-4 large-4 columns text-center">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="/pieq"><img src = "{% static "Images/Pie Chart of Quaker Meetings.jpg" %}" alt ="Quaker Meetings Pie Chart">    

      <div class="image-overlay-content">

        <h2>Quaker Meeting Pie Chart</h2>    

        
      </div>  

    </div>
</div>
<div class="small-4 medium-4 large-4 columns text-center">

    <div class="image-wrapper overlay-fade-in">      

     <a href ="/found#mentalhealth"><img src = "{% static "Images/Curability Language Graph 2.png" %}" alt ="Mental Health Language"></a> 

      <div class="image-overlay-content">

        <h2>Curability Language Graph</h2>    

        
      </div>  

    </div>
</div>
</div>

<div class="row full-width text-center">

  <div class="small-4 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="#"><img src = "{% static "Images/Pie Chart.jpg" %}" alt ="Revenues Pie Chart"></a>

      <div class="image-overlay-content">

        <h2>Revenue &amp; Expenses Pie Chart</h2>    

        
      </div>  

    </div>
</div>

<div class="small-4 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">      

     <a href ="/glossary"><img src = "{% static "Images/Patientinfo.jpg" %}" alt ="Glossary of Terms"></a> 

      <div class="image-overlay-content">

        <h2>Glossary of Terms</h2>    

        
      </div>  

    </div>
</div>
<div class="small-4 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">      

      <a href ="#"><img src = "{% static "Images/cartodb.jpg" %}" alt ="Mapping Friends Asylum"></a>    

      <div class="image-overlay-content">

        <h2>Mapping</h2>    

        
      </div>  

    </div>
</div>
</div>
</div>






     {% include 'footer-simple.html' %}
       

            <a href = "#"> About </a> | <a href = "#"> Learn More </a> |<a href = "#">  Contribute to Research</a>| <a href = "#"> Related Projects </a> | <a href = "#"> Future Directions </a>  
        </div>
        
        

      </div>
    </footer>
      

       </div><!-- end inner wrap of menu/navigation bar, must go after ALL content -->
     </div><!-- end offcanvas -->

    {% include 'bottom-links.html' %}
  </body>
</html>

