     <div id = "row6">
    
       <h2> <strong>Connect with HaverfordDS </strong></h2>
        <h6> Find us online or email us with questions!</h6>
      <div class  "row">
        <div class = "small-12 medium-6 large-6 columns text-center">
            <br> </br>
            <a href ="https://www.facebook.com/hclibraries"><img src = "static/Images/facebook.png" alt ="facebook"></a>
            <a href ="https://twitter.com/HCLibraries"><img src = "static/Images/twitter.png" alt ="twitter"></a>
            <a href ="https://instagram.com/HCLibraries/"><img src = "static/Images/insta.png" alt ="instagram"></a>
            <br> </br>
          </div>
          <div class = "small-12 medium-6 large-6 columns text-center">
            <br> </br>
            <a href ="#"><img src = "static/Images/Mail.png" alt ="mail"><p> hcdigitalscholarship@gmail.com</p></a>
            <br> </br>
          </div>
        </div>
      </div>
    </div>


<footer class = "footer" id = "footer1">
      <div class = "row full-width">
 
    
            

        

          <div class = "small-12 medium-4 large-4 columns text-center" id ="vert">
            <ul class = "no-bullet">
              <li> Quaker &amp; Special Collections</li>
              <li> Magill Library &middot; 610.896.1161</li>
              <li>370 Lancaster Ave.</li>
              <li>Haverford, PA 19041</li>
               <li>  <a href = "http://library.haverford.edu/places/special-collections">Special Collections Website </a></li>
            </ul>
        </div>

        <div class = "small-12 medium-4 large-4 columns text-center" id = "vert">
            <ul class = "no-bullet">
           <li> Digital Scholarship</li>
           <li> Haverford College Libraries</li>
          <li>  370 Lancaster Avenue</li>
          <li>  Haverford, PA 19041</li>
           <li>  <a href = "http://library.haverford.edu/services/digital-scholarship/"> HaverfordDS Website </a></li>
          </ul>
        </div>

        <div class = "small-12 medium-4 large-4 columns text-center">
            <ul class = "no-bullet">
              <li> Funding Provided By: </li>
              <li> The Scattergood Foundation</li>
              <li>1501 Cherry Street</li>
              <li>Philadelphia, PA 19102 </li>
               <li>  <a href = "http://www.scattergoodfoundation.org/">Scattergood Foundation Website </a></li>
            </ul>
         
        </div>  

<div class = "large-12 columns text-center">

           <p><a href = "#"> About </a>| <a href = "/theology">Background &amp; Context </a>| <a href = "/found">Early History </a>| <a href = "/moral">Moral Treatment</a> |<a href = "/medical"> Medical Treatment </a>| <a href = "/glossary"> Glossary </a>|<a href = "#"> Bibliography &amp; Credits</a> </p>
        </div>
        
        

      </div>
    </footer>
      
