{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'top-links.html' %}

    <link rel = "stylesheet" href = "{% static "css/future.css" %}"> <!--this is your css file you will make changes to -->
    
    <title>Future Directions</title>
   </head> <!-- you always need all these links-->
   <body>

     <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-large-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="/">Quakers&amp;Mental Health</a></li>
                <li><a href="/theology">About</a>
                  <ul>
                    <li><a href="/theology">Learn More</a></li>
			<li><a href="/related">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                    <li><a href="/contrib">Contribute to Research</a></li>
                    <li><a href="/essay">Related Projects</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="#">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="/theology">Background &amp; Context</a>
                  <ul>
                    <li><a href="/theology">Theology &amp; Mental Health</a></li>
                    <li><a href="/york">York Retreat</a></li>
                    
                  </ul>
                </li>
                 <li><a href="/found">Early History</a></li>
                 <ul>
                    <li><a href="/found">Foundation</a></li>
                    <li><a href="/arch">Architecture</a></li>
                    <li><a href="/structure">Structure &amp; Governance  </a></li>
                    <li><a href="/profiles">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="/moral">Moral Treatment</a></li>
                  <ul>
                    <li><a href="/moral">Introduction</a></li>
                    <li><a href="/religion">Religious Life at the Asylum</a></li>
                    <li><a href="/occu">Occupational Therapy</a></li>
                    
                  </ul>
                <li><a href="/medical">Medical Treatment</a>
                  <ul>
                    <li><a href="/medical">Introduction</a></li>
                   
                  </ul>
                </li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>
    
      <div class = "sticky">
        <nav class="top-bar show-for-large-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "/">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="active has-dropdown"><a href="/theology">About</a>
                <ul class = "dropdown">
                  <li><a href = "/theology">Learn More</a></li>
			<li><a href="/related">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>

                  <li><a href= "/contrib"> Contribute to Research</a></li>
                  <li><a href="/features">Features</a></li>
                  <li class = "active"><a href="#">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Background &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
               </ul>
              </li>
              <li class="has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure"> Structure &amp; Governance </a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asylum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
          
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
                
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>

 <div id = "rowheader">
      <h1> <strong>Future Directions </strong> </h1>
    </div>

<div class = "row full-width show-for-large-up">
  <div class = "small-3 columns">
 <ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1a" role="tab" id="panel1a-heading" aria-controls="panel1a">Gender</a>
    <div id="panel1a" class="content" role="tabpanel" aria-labelledby="panel1a-heading">
      <p> Do problems of gender arise when studying Friends Asylum?  Is there more to say about how male patients were encouraged to play as part of their treatment while female patients were only encouraged to do chores? </p>
	<p>How was female hysteria perceived in Friends Asylum? Did Quakers have a different or similar notion of hysteria in comparison with other mental institutions of its time? </p>
    </div>
  </li>
  <li class="accordion-navigation" id = "num2">
    <a href="#panel2a"  role="tab" id="panel2a-heading" aria-controls="panel2a">Other Quaker History</a>
    <div id="panel2a" class="content row" role="tabpanel" aria-labelledby="panel2a-heading">
      <div class = "large-12 columns">
      <p>Are there connections between the foundation and principles of Friends Asylum and Eastern State Penintentiary? </p>
	<p>How are other projects that have been done over the summer at Magill related to Friends Asylum, for instance: the Cope Evans Family, Quakers and the West, Quakers and Slavery, etc.? </p>

	<p> What more can be learned from the Orthodox-Hicksite split and Friends Asylum? How did the split affect the Asylum, its governance, and principles?</p>
	<p>Is there more to be said about how the Asylum had such a large focus on recreation and play for its patients? How did this fit with the founders' Quakerism?  </p>
    </div>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3a" role="tab" id="panel3a-heading" aria-controls="panel3a">Architecture</a>
    <div id="panel3a" class="content" role="tabpanel" aria-labelledby="panel3a-heading">
      <p>What more can be learned from the architecture of the Asylum? How else did the physical make-up of the building and grounds exemplify principles of the Asylum? </p>
	<p>How were the buildings and grounds designed?  How did the early founders' ideas about mental health influence the environmemt they created? </p>
	<p>What was important to the early (or later) founders' sense of place? </p>
	<p> What was the relationship of the farm and outdoors to the hospital? How did the farm affect daily life? </p>
    </div>
  </li>
</ul>
</div>
<div class = "small-3 columns">
 <ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1b" role="tab" id="panel1b-heading" aria-controls="panel1b">The Asylum throughout History</a>
    <div id="panel1b" class="content" role="tabpanel" aria-labelledby="panel1b-heading">
      <p>Think about looking at Friends Asylum, its role, and changes in their mission during these periods of history: the Civil War, World War I, the Great Depression, World War II, etc.  How did the way mental health ws viewed change during these significant historical periods? How were those changes enacted or not at Friends Hospital?   </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2b"  role="tab" id="panel2b-heading" aria-controls="panel2b">Social Class</a>
    <div id="panel2b" class="content" role="tabpanel" aria-labelledby="panel2b-heading">
      <p>Looking especially at the early years of the Asylum, but also later if applicable, how were patients of different social status treated? If money became an issue, how were patients and their hospitalization dealt with? </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3b" role="tab" id="panel3b-heading" aria-controls="panel3b">Economics and Finances</a>
    <div id="panel3b" class="content" role="tabpanel" aria-labelledby="panel3b-heading">
      <p>Where did the funding for the hospital come from? Who were the early donors? </p>
	<p> What else can we learn from the many different types of financial records we have for Friends Asylum (we have sources such as the Petty Cash Book, an Investment Ledger, and a general revenue and expenses ledger for the early years of the Asylum)? How was money spent?</p>
    </div>
  </li>
</ul>
</div>
<div class = "small-3 columns">
 <ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">Treatment and Medical Care</a>
    <div id="panel1d" class="content" role="tabpanel" aria-labelledby="panel1d-heading">
     <p>Looking at the Asylum during a certain historical period of time, or comparing the Asylum at different times, what type(s) of patients were found at the Asylum? What disorders were common? What disorders were cured?  Track data of patients entering and exiting the hospital, their average stay, etc.  Use annual reports and other primary sources to create tables and show trends. </p>
	<p>There are many examples of patients being admitted into the Asylum because of masturbation.  How did Quakers view masturbation in relation to insanity and treat it? </p>
	<p> How do the superintendent's diaries from the early years talk about patient maladies?  What vocabulary is used?  When are patients referred to as family members and when are they not? </p>
	
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2d"  role="tab" id="panel2d-heading" aria-controls="panel2d">The Underground Railroad and the Asylum</a>
    <div id="panel2d" class="content" role="tabpanel" aria-labelledby="panel2d-heading">
      <p> There's rumor that the Asylum and its many underground tunnels may have played a part in the Underground Railroad.  What more can we learn about this obscured past?  How else may Friends Hopsital have served as an "Asylum" in the traditional and original sense of the word?</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3d" role="tab" id="panel3d-heading" aria-controls="panel3d">Interesting Patients</a>
    <div id="panel3d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
     <p>With the material we have on the case of Morgan Hinchman suing the Asylum, do an in-depth study of him, his case, and its significance.  </p>
     <p>Take another patient you see to have an interesting and compelling story, and find out more about them, their past, and their stay at Friends Asylum.  For instance, while she was researching the founding of Friends of Asylum, Abigail Corcoran found patients Ruth S., Benjamin C., Nathan Y., Mary R., Samuel S., and Abraham S. to have interesting and notable histories (read more on the <a href = "/profiles"> Patient Profiles Page </a>)</p>
     
    </div>
  </li>
</ul>
</div>
<div class = "small-3 columns">
 <ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1e" role="tab" id="panel1e-heading" aria-controls="panel1e">Mapping the Asylum</a>
    <div id="panel1e" class="content" role="tabpanel" aria-labelledby="panel1e-heading">
      <p>How can we map Friends Asylum? Look for ways you can visualize where patients are from, where doctors are from, what connections Friends Asylum had to other places?  Look to the Cope Evans<a href = "http://cope.haverford.edu/letterNetwork/"> Letter Map </a> as a guide to what you coulddo.  Think of using tools like cartodb or Mapbox!   </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2e"  role="tab" id="panel2e-heading" aria-controls="panel2e">Visualizing Finances</a>
    <div id="panel2e" class="content" role="tabpanel" aria-labelledby="panel2e-heading">
      <p>Make a visualization, or graph, using data we can obtain from the many financial ledgers from Friends Asylum we have in Special Collections. </p>
    </div>
  </li>
 <li class="accordion-navigation">
    <a href="#panel3e"  role="tab" id="panel3e-heading" aria-controls="panel3e">Your Idea!</a>
    <div id="panel3e" class="content" role="tabpanel" aria-labelledby="panel3e-heading">
      <p> With fresh eyes, come up with an idea we couldn't have even thought of! Be creative! Think creatively, digitally.. </p>
    </div>
  </li>
</ul>
</div>
</div>


<div class = "row full-width show-for-medium-only">
  <div class = "small-6 columns">
 <ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1a" role="tab" id="panel1a-heading" aria-controls="panel1a">Gender</a>
    <div id="panel1a" class="content" role="tabpanel" aria-labelledby="panel1a-heading">
      <p> Do problems of gender arise when studying Friends Asylum?  Is there more to say about how male patients were encouraged to play as part of their treatment while female patients were only encouraged to do chores? </p>
	<p>How was female hysteria perceived in Friends Asylum? Did Quakers have a different or similar notion of hysteria in comparison with other mental institutions of its time? </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a"  role="tab" id="panel2a-heading" aria-controls="panel2a">Other Quaker History</a>
    <div id="panel2a" class="content row" role="tabpanel" aria-labelledby="panel2a-heading">
      <div class = "large-12 columns">
      <p>Are there connections between the foundation and principles of Friends Asylum and Eastern State Penintentiary? </p>
	<p>How are other projects that have been done over the summer at Magill related to Friends Asylum, for instance: the Cope Evans Family, Quakers and the West, Quakers and Slavery, etc.? </p>

	<p> What more can be learned from the Orthodox-Hicksite split and Friends Asylum? How did the split affect the Asylum, its governance, and principles?</p>
	<p>Is there more to be said about how the Asylum had such a large focus on recreation and play for its patients? How did this fit with the founders' Quakerism?  </p>
    </div>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3a" role="tab" id="panel3a-heading" aria-controls="panel3a">Architecture</a>
    <div id="panel3a" class="content" role="tabpanel" aria-labelledby="panel3a-heading">
      <p>What more can be learned from the architecture of the Asylum? How else did the physical make-up of the building and grounds exemplify principles of the Asylum? </p>
	<p>How were the buildings and grounds designed?  How did the early founders' ideas about mental health influence the environmemt they created? </p>
	<p>What was important to the early (or later) founders' sense of place? </p>
	<p> What was the relationship of the farm and outdoors to the hospital? How did the farm affect daily life? </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel4a" role="tab" id="panel4a-heading" aria-controls="panel4a">The Asylum throughout History</a>
    <div id="panel4a" class="content" role="tabpanel" aria-labelledby="panel4a-heading">
      <p>Think about looking at Friends Asylum, its role, and changes in their mission during these periods of history: the Civil War, World War I, the Great Depression, World War II, etc.  How did the way mental health ws viewed change during these significant historical periods? How were those changes enacted or not at Friends Hospital?   </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel5a"  role="tab" id="pane5a-heading" aria-controls="panel5a">Social Class</a>
    <div id="panel5a" class="content" role="tabpanel" aria-labelledby="panel5a-heading">
      <p>Looking especially at the early years of the Asylum, but also later if applicable, how were patients of different social status treated? If money became an issue, how were patients and their hospitalization dealt with? </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel6a" role="tab" id="panel6a-heading" aria-controls="panel6a">Economics and Finances</a>
    <div id="panel6a" class="content" role="tabpanel" aria-labelledby="panel6a-heading">
      <p>Where did the funding for the hospital come from? Who were the early donors? </p>
	<p> What else can we learn from the many different types of financial records we have for Friends Asylum (we have sources such as the Petty Cash Book, an Investment Ledger, and a general revenue and expenses ledger for the early years of the Asylum)? How was money spent?</p>
    </div>
  </li>
</ul>
</div>
<div class = "small-6 columns">
 <ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">Treatment and Medical Care</a>
    <div id="panel1d" class="content" role="tabpanel" aria-labelledby="panel1d-heading">
     <p>Looking at the Asylum during a certain historical period of time, or comparing the Asylum at different times, what type(s) of patients were found at the Asylum? What disorders were common? What disorders were cured?  Track data of patients entering and exiting the hospital, their average stay, etc.  Use annual reports and other primary sources to create tables and show trends. </p>
	<p>There are many examples of patients being admitted into the Asylum because of masturbation.  How did Quakers view masturbation in relation to insanity and treat it? </p>
	<p> How do the superintendent's diaries from the early years talk about patient maladies?  What vocabulary is used?  When are patients referred to as family members and when are they not? </p>
	
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2d"  role="tab" id="panel2d-heading" aria-controls="panel2d">The Underground Railroad and the Asylum</a>
    <div id="panel2d" class="content" role="tabpanel" aria-labelledby="panel2d-heading">
      <p> There's rumor that the Asylum and its many underground tunnels may have played a part in the Underground Railroad.  What more can we learn about this obscured past?  How else may Friends Hopsital have served as an "Asylum" in the traditional and original sense of the word?</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3d" role="tab" id="panel3d-heading" aria-controls="panel3d">Interesting Patients</a>
    <div id="panel3d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
     <p>With the material we have on the case of Morgan Hinchman suing the Asylum, do an in-depth study of him, his case, and its significance.  </p>
     <p>Take another patient you see to have an interesting and compelling story, and find out more about them, their past, and their stay at Friends Asylum.  For instance, while she was researching the founding of Friends of Asylum, Abigail Corcoran found patients Ruth S., Benjamin C., Nathan Y., Mary R., Samuel S., and Abraham S. to have interesting and notable histories (read more on the <a href = "/profiles"> Patient Profiles Page </a>)</p>
     
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel4d" role="tab" id="panel4d-heading" aria-controls="panel4d">Mapping the Asylum</a>
    <div id="panel4d" class="content" role="tabpanel" aria-labelledby="panel4d-heading">
      <p>How can we map Friends Asylum? Look for ways you can visualize where patients are from, where doctors are from, what connections Friends Asylum had to other places?  Look to the Cope Evans<a href = "http://cope.haverford.edu/letterNetwork/"> Letter Map </a> as a guide to what you coulddo.  Think of using tools like cartodb or Mapbox!   </p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel5d"  role="tab" id="panel5d-heading" aria-controls="panel5d">Visualizing Finances</a>
    <div id="panel5d" class="content" role="tabpanel" aria-labelledby="panel5d-heading">
      <p>Make a visualization, or graph, using data we can obtain from the many financial ledgers from Friends Asylum we have in Special Collections. </p>
    </div>
  </li>
 <li class="accordion-navigation">
    <a href="#panel6d"  role="tab" id="panel6d-heading" aria-controls="panel6d">Your Idea!</a>
    <div id="panel6d" class="content" role="tabpanel" aria-labelledby="panel6d-heading">
      <p> With fresh eyes, come up with an idea we couldn't have even thought of! Be creative! Think creatively, digitally.. </p>
    </div>
  </li>

</ul>
</div>
</div>





    {% include 'footer-simple.html' %}

              <a href = "#"> About </a> | <a href = "#"> Learn More </a> |<a href = "#">  Contribute to Research</a>| <a href = "#"> Related Projects </a> | <a href = "#"> Features </a> 
        </div>
        
        

      </div>
    </footer>
      

       </div><!-- end inner wrap of menu/navigation bar, must go after ALL content -->
     </div><!-- end offcanvas -->

    {% include 'bottom-links.html' %}
  </body>
</html>

