{% load staticfiles %}
<!DOCTYPE html>
<html class = "no-js" lang = "en">
	<head>
		<title>Glossary </title>
		{% include 'top-links.html' %}
		<link rel = "stylesheet" href = "{% static "css/accordion.css" %}">
	
	</head>
	<body>
		
      <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-medium-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="#">Quakers&amp;Mental Health</a></li>
                <li><a href="#">About</a>
                  <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Contribute to Research</a></li>
                    <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Related Projects</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="#">Background &amp; Context</a>
                  <ul>
                    <li><a href="#">Theology &amp; Mental Health</a></li>
                    <li><a href="#">York Retreat</a></li>

                  </ul>
                </li>
                 <li><a href="#">History</a></li>
                 <ul>
                    <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Foundation</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Structure &amp; Governance</a></li>
                    <li><a href="#">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="#">Moral Treatment</a></li>
                  <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Religious Life at the Asylum</a></li>
                    <li><a href="#">Occupational Therapy</a></li>

                  </ul>
                <li><a href="#">Medical Treatment</a>
                  <ul>
                    <li><a href="#">Introduction</a></li>
                    
                  </ul>
                </li>
                <li><a href="#">Glossary</a></li>
                <li><a href="#">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>

    <!-- top bar code -->
    
      <div class = "sticky">
        <nav class="top-bar show-for-medium-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "/">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="has-dropdown"><a href="#">About</a>
                <ul class = "dropdown">
                  <li><a href = "#">Learn More</a></li>
                  <li><a href= "#"> Contribute to Research</a></li>
                  <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Related Projects</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Background &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
                
               </ul>
              </li>
              <li class="has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure">Structure &amp; Governance</a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>

                </ul>
              </li>

              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asyum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
              
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
                
               </ul>
            </li>
              <li class = "active"><a href="#">Glossary</a></li>
              <li><a href="#">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>	


	<div id = "rowheader">
		<h1><strong> Glossary of Terms</strong> </h1>
	</div>





 		<div class = "row">
			<div class = "large-12 columns">
				<ul class = "tabs" data-tab>
					<li class = "tab-title active"><a href = "#panel1"> Dropdown </a></li>
					<li class = "tab-title"><a href = "#panel2"> Table </a> </li>
				</ul>
				<div class = "tabs-content">
					<div class = "content active" id = "panel1">
		
		{% if glossaries %} <!--refers to name of variable in views containing all glossary entries-->
			<ul class = "accordion" data-accordion>
				
				{% for ab in glossaries %}
					<li class = "accordion-navigation">
						<a href = "#panel{{forloop.counter0}}"> {{ ab.0 }}</a>
						<div id = "panel{{forloop.counter0}}" class = "content">
					        	{{ ab.1 }}
						</div>
					 </li>
					
				{% endfor %}
			</ul>
		{% else %}
			<strong> There are no glossaries present right now. </strong>
		{% endif %}
				</div>
				<div class = "content" id = "panel2">
				<table>
					<thead>
						<tr>
							<th width = "200">Word</th>
							<th width = "1000"> Definition</th>
						</tr>
					</thead>
					<tbody>
						{% if glossaries %}
								{% for ab in glossaries %}
							<tr>
								<td> {{ ab.0 }} </td>
								<td> {{ ab.1 }} </td>
							</tr>
								{% endfor %}
					</tbody>
				</table>
						{% else %}
							<strong> There are no glossaries at this time. </strong>
						{% endif %}
				</div>
			</div>
		</div>
	</div>
						
		
 		

		{% include 'footer-simple.html' %}


			</div> <!--import for end of inner wrap, end of off campus nav bar -->
		</div>

		<!--	{% include 'bottom-links.html' %}-->
		<script src = "{% static "js/vendor/jquery.js" %}"></script>
		<script src = "{% static "js/foundation.min.js" %}"></script>
		<script>
			$(document).foundation();
		</script>

	</body>





		


</html>


