{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>

    <title>Quakers&amp;Mental Health | Welcome</title>

    {% include 'top-links.html' %}
     <link rel="stylesheet" href="{% static "css/index.css" %}">
  </head>


   <body>
  
    {% include 'nav-bar.html' %}

    <header>
      <div class = "banner">
        <div class = "overlay-container">
        <img src="{% static "Images/FriendsAsylum.jpg" %}" alt="Friends Asylum.">
        <div class = "overlay1 show-for-medium-up"<p>J. Sartain, Friends’ Asylum for the Insane, near Frankford. N.d., Print. Collection 850, Quaker and Special Collections, Haverford College, Haverford, PA.</p> </div> 


<div class = "overlay2 show-for-large-up"> <strong>Quakers &amp; Mental Health</strong> </div> </div>
      </div>
    </header>


    <div id = "row3"> 
        <h1><strong> Friends Asylum </strong> </h1>

        <h6> The Friends Asylum for the Relief of Persons Deprived of the Use of their Reason was founded in 1813 by a group of Philadelphia Quakers who were concerned about the state of mentally ill Quakers. The Asylum was established upon the Quaker idea that there is <a href = "#"> that of God</a> in every person, and that mental illness does not change that fact. Under the leadership of Isaac Bonsall as the first superintendent, and a group of other influential, soon-to-be <a href = "#">Orthodox Quakers</a>, the Asylum started accepting patients in 1817.  The touchstones of life at the Asylum were community and religious life, and these were to become part of its unique take on moral treatment.  
          <br></br>
      </h6>
      <ul class = "button-group round text-center show-for-medium-up">
        <li><a href="/theology" class="button secondary">Learn More</a></li>
        <li><a href = "/contrib" class = "button secondary">Contribute to Research</a></li>
        <li><a href="/related" class="button secondary">Related Projects</a></li>
      </ul>
	<div class = "text-center hide-for-medium-up">
       <p><a href = "/theology" class = "button round secondary"> Learn More </a> </p>
	<p> <a href = "/contrib" class = "button round secondary"> Contribute </a> </p>
	<p><a href = "/related" class = "button round secondary"> Related Projects</a></p>
	</div>
      <br> </br>
    </div>


    <div class = "row" id = "row4">
      <div class = "large-12 columns text-center">
        <h3> <strong>FEATURES</strong></h3>
      </div>
    </div>
    <div class = "row" id = "row5">
      <div class = "large-12 columns">
        <ul class = "large-block-grid-3 medium-block-grid-3 small-block-grid-3">
          <li><a class = "th radius" href ="/profiles"><img src = "{% static "Images/Scattergood.jpg" %}" alt ="Patient Info"></a></li>
          <li><a class = "th radius" href ="/pieq"><img src = "{% static "Images/Pie Chart of Quaker Meetings.jpg" %}" alt ="Quaker Meetings Pie Chart"></a></li>
          <li><a class = "th radius" href ="/found#mentalhealth"><img src = "{% static "Images/Curability Language Graph 2.png" %}" alt ="Mental Health Language"></a></li>
          <ul class = "button-group even-3">
            <li><a href="/profiles" class="button small radius secondary even">Patient Info</a></li>
            <li><a href="/pieq" class="button small radius secondary">Quaker Meeting Pie Chart</a></li>
            <li><a href="/found#mentalhealth" class="button small radius secondary">Curability Language</a></li>
          </ul>
          <li><a class = "th radius" href ="#"><img src = "{% static "Images/Pie Chart.jpg" %}" alt ="Revenues Pie Chart"></a></li>
          <li><a class = "th radius" href ="/glossary"><img src = "{% static "Images/Patientinfo.jpg" %}" alt ="Glossary of Terms"></a></li>
          <li><a class = "th radius" href ="#"><img src = "{% static "Images/cartodb.jpg" %}" alt ="Mapping Friends Asylum"></a></li>
          <ul class = "button-group even-3">
            <li><a href="#" class="button small radius secondary">Revenue &amp; Expenses Pie Chart</a></li>
            <li><a href="/glossary" class="button small radius secondary">Glossary of Terms</a></li>
            <li><a href="#" class="button small radius secondary">Mapping the Asylum</a></li>
          </ul>
        </ul>
    <br> </br>
      </div>
    </div>

     {% include 'footer-complex.html' %}


	     </div><!-- end inner wrap, must go after ALL content -->
     </div><!-- end offcanvas -->

      {% include 'bottom-links.html' %}    

  </body>
</html>
