<!--this is only the top section of the nav bar -you must include two more divs at the very bottom of the html file (after the footer) for both nav bars to work!!-->

	<div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-medium-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="#">Quakers&amp;Mental Health</a></li>
                <li><a href="#">About</a>
                  <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Contribute to Research</a></li>
                    <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Related Projects</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="#">Backround &amp; Context</a>
                  <ul>
                    <li><a href="#">Theology &amp; Mental Health</a></li>
                    <li><a href="#">York Retreat</a></li>
                    <li><a href="#">Other Asylums</a></li>
                    <li><a href="#">Hicksite-Orthodox Schism</a></li>
                  </ul>
                </li>
                 <li><a href="#">History</a></li>
                 <ul>
                    <li><a href="/foundation">Foundation</a></li>
                    <li><a href="/arch">Architecture</a></li>
                    <li><a href="/struct">Governance &amp; Structure</a></li>
                    <li><a href="/profiles">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="#">Moral Treatment</a></li>
                  <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Religious Life at the Asylum</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Downsides</a></li>
                  </ul>
                <li><a href="#">Medical Treatment</a>
                  <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Types of Treatment</a></li>
                  </ul>
                </li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="#">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>

    <!-- top bar code -->
    
      <div class = "sticky">
        <nav class="top-bar show-for-medium-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "#">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="has-dropdown"><a href="#">About</a>
                <ul class = "dropdown">
                  <li><a href = "#">Learn More</a></li>
                  <li><a href= "#"> Contribute to Research</a></li>
                  <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Related Projects</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="#"> Backround &amp; Context</a>
               <ul class="dropdown">
                <li><a href="#">Theology &amp; Mental Health</a></li>
                <li><a href="#">The York Retreat</a></li>
                <li><a href="#">Other Asylums</a></li>
                <li><a href="#">Hicksite-Orthodox Schism</a></li>
               </ul>
              </li>
              <li class="has-dropdown"><a href="#"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/foundation">Foundation</a></li>
                  <li><a href= "/arch">Architecture</a></li>
                  <li><a href="/struct">Governance &amp; Structure</a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>

                </ul>
              </li>

              <li class="has-dropdown"><a href="#">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Religious Life at the Asyum</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Downsides</a></li>
               </ul>
             </li>
             <li class="has-dropdown"><a href="#">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Types of Treament</a></li>
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="#">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>



