{% load staticfiles %}
<!DOCTYPE html>
<html class = "no-js" lang = "en">
	<head>
		<title> Patient Profiles </title>
		
		{% include 'top-links.html' %}
		<link rel = "stylesheet" href = "{% static "css/patient.css" %}">
	
	</head>
	<body>
		
      <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-medium-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="#">Quakers&amp;Mental Health</a></li>
                <li><a href="#">About</a>
                  <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Contribute to Research</a></li>
                    <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Related Projects</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="#">Background &amp; Context</a>
                  <ul>
                    <li><a href="#">Theology &amp; Mental Health</a></li>
                    <li><a href="#">York Retreat</a></li>
                    
                  </ul>
                </li>
                 <li><a href="#">History</a></li>
                 <ul>
                    <li><a href="http://ds.haverford.edu/scattergoodjournals/exhibits/show/tsjournals/intro">Foundation</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Structure &amp; Governance</a></li>
                    <li><a href="#">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="#">Moral Treatment</a></li>
                  <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Religious Life at the Asylum</a></li>
                    <li><a href="#">Occupational Therapy</a></li>
                  </ul>
                <li><a href="#">Medical Treatment</a>
                  <ul>
                    <li><a href="#">Introduction</a></li>
                    
                  </ul>
                </li>
                <li><a href="#">Glossary</a></li>
                <li><a href="#">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>

    <!-- top bar code -->
    
      <div class = "sticky">
        <nav class="top-bar show-for-medium-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "/">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="has-dropdown"><a href="/theology">About</a>
                <ul class = "dropdown">
                  <li><a href = "/theology">Learn More</a></li>
                  <li><a href= "/contrib"> Contribute to Research</a></li>
                  <li><a href="/related">Related Projects</a></li>
                  <li><a href="/features">Features</a></li>
                  <li><a href="/future">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Background &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
               
               </ul>
              </li>
              <li class="active has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure">Structure &amp; Governance</a></li>
                  <li class ="active"><a href="#">Patient Profiles</a></li>

                </ul>
              </li>

              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asyum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
               
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
                
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
      </div>


    <!-- top image and text overlay-->
<!--if you dont want any text overlay, just delete! (and delete from css file too!)-->
    <header>
      <div class = "banner">
        <div class = "overlay-container">
        <img src="{% static "Images/Daybooktext.jpg" %}" alt="Friends Asylum.">
        <div class = "overlay1 show-for-large-up">
<!--          <strong> Patient Profiles</strong>-->
        </div>
      </div>
      </div>
    </header>



<!-- main title header -->
    <div id = "rowheader">
      <h1> <strong>Featured Patients </strong> </h1>
        <!-- text center blurb -->
<!-- AC Could we add padding at the top here? And we talked about maybe making this page look like the Glossary to make it more fun. And adding different colors to make the white less boring.-->
        
        <p> Patients at the Asylum suffered from a variety of mental health issues. Due to Isaac Bonsall’s lack of medical knowledge and the subjective nature of his Day Book, it is often very difficult to form a complete picture of the ailments facing a patient from the information we have. However, there are enough hints to show the variety of types of mental illness the Asylum treated. Here are the stories of some patients who show the diversity of experiences at the Friends Asylum: </p>
    </div>

<div class = "row" id = "tabcontent">
	<div class = "large-12 columns">
		  	<ul class="tabs" data-tab>
		  <li class="tab-title"><a href="#panel1">Nathan Y. and Mary R.</a></li>
		  <li class="tab-title active"><a href="#panel2">Benjamin C.</a></li>
		  <li class="tab-title active"><a href="#panel3">Ruth S.</a></li>
		  <li class="tab-title active"><a href="#panel4">Samuel S.</a></li>
		  <li class="tab-title active"><a href="#panel5">Abraham S.</a></li>
	    </ul>
		<div class="tabs-content">
		    <div class="content active" id="panel1">
        
        
        <p> Nathan Y. and Mary R. both belonged to the class of patients who caused the Asylum staff the most work—they were both incontinent. Bonsall wrote frequently about the labor involved in keeping them clean. In an effort to keep Nathan Y. from soiling himself, Bonsall tried to shame him by making him wear a petticoat. </p>
         <div class = "panel radius">
          <h5> Nathan Y.'s New Clothes </h5>
          <blockquote> "The Petticoat on Nathan [Y.] has had the desired effect both yesterday and today which saves us much trouble. He is ashamed of it and begs for his small Cloaths [sic.] or in the place of them Trowsers [sic.]. We tell him when he learns to behave himself well his Breeches shall be returned." <cite> Isaac Bonsall, December 2, 1818 </cite></blockquote>
          <blockquote> “[Nathan’s father, a visiting manager,] was affected with seeing his Son have a Petticoat on but did not censure us and expressed a wish as it was mortifying to Nathan it should not be continued longer than necessary. <cite> Isaac Bonsall, December 5, 1818 </cite></blockquote>
        </div>
        <p> Although Bonsall’s treatment prevented Nathan Y. from soiling himself for a little while, it did not prove to be a lasting solution. Nathan Y. spent about 3 years in the Asylum before dying in a fever epidemic. Bonsall was unable to cure Mary R. either. Bonsall did not try to shame Mary R. into better behavior, perhaps reasoning that the method had not worked on Nathan Y. Instead, Mary R.’s husband asked to take her home with him, despite her continued illness. Bonsall expressed relief at this resolution. </p>
        <div class = "panel radius">
          <h5> Mary R. Leaves the Asylum </h5>
          <blockquote> "It is a great relief to [caretaker] Ruth Peirce that Mary [R.] is taken away on account of her filthiness and the Wing is much more comfortable now to the other Patients." <cite> Isaac Bonsall, January 6, 1822 </cite></blockquote>
        </div>
		    	
		  	</div>


		  	<div class="content" id="panel2">
         
        
        <p> Benjamin C. was one of the Asylum’s patients who suffered from alcohol addiction. While Benjamin C. was in the Asylum, Bonsall tried to teach him to resist temptation and conquer his addiction. Excessive consumption of alcohol was frowned upon in Quaker circles, and people like Benjamin C. would normally have been read out of Meeting. The Asylum gave Quakers a place where addiction was treated as an illness, not a sin. </p>
         <div class = "panel radius">
          <h5> Origin of Benjamin C.'s Insanity </h5>
          <blockquote> "Benjamin [C.] appears so rational that we are enclined [sic.] to think that the use of intoxicating liquor has been the main cause of his Insanity. With us he does not even partake of the family small Beer. The evening he was brought he wanted Porter, Wine, and etc. none of which were given although he said he could not live without it and that while he was at the Pennsylvania Hospital he was allowed a Bottle of Porter per Day." <cite> Isaac Bonsall, December 2, 1818 </cite></blockquote>
        </div>
        <p> Benjamin C. was one of the many patients at the Friends Asylum who had spent time at the Pennsylvania Hospital before being sent to Friends Asylum. Benjamin C. told Bonsall that he was grateful for the Friends Asylum’s moral treatment, which he said worked better than the medical treatment he had received at the Pennsylvania Hospital. Benjamin C. left the Asylum six months later, cured. </p>
    	</div>

		  <div class="content" id="panel3">
       
        
        <p> Ruth S. came to the Asylum incoherent and delusional. Ruth S. and her sister refused to believe that she was insane, but her behavior as recorded by Bonsall in the Day Book is not rational. She frustrated Bonsall by banging loudly on her door at night, and harrassing her caretakers and fellow patients. </p>
         <div class = "panel radius">
          <h5> Ruth S.'s Behavior </h5>
          <blockquote> "[Ruth S.] will not be persuaded to give up her own ideas about anything no matter how absurd they may appear to others neither will she desist from importuning us to grant things which we deem unsuitable as whatever occurs to her own mind as proper to be done She considers an indispensable duty.” <cite> Isaac Bonsall, January 7, 1822 </cite></blockquote>
        </div>
        <p> Ruth S.’s delusions often had to do with religion. Bonsall never stated exactly what was unorthodox about her beliefs, but he was mortified when he took her to Meeting for Worship, and she stood to speak. </p>
        <div class = "panel radius">
          <h5> Ruth S. at Meeting for Worship</h5>
          <blockquote> "She stood up twice in the Meeting and spoke a few words and a fear being entertained that she would repeat it induced friends to break up the Meeting sooner than usual. What she said was not clear as to the matter and produced trial to friends minds [sic.] generally. We think it will not be safe to let her go very soon again." <cite> Isaac Bonsall, May 19, 1822 </cite></blockquote>
        </div>
        <p> Ruth S.'s actions at Meeting were embarrassing to Bonsall because speaking more than once during Meeting for Worship is frowned upon. Bonsall and Ruth S. struggled about whether she should be allowed to attend Meeting for at least the next year. Ruth refused to promise to be quiet because she could not promise to ignore a leading. Bonsall wrote tht he doubted she was genuinely feeling led to speak by God. <p>
     	</div>

		  	<div class="content" id="panel4">
       
       
        <p> Samuel S. was one of the Asylum’s violent patients, but despite the threat he posed to the community, Bonsall treated him kindly, and gave him considerable freedom. Even after Samuel announced that he was being told by the Devil he had to kill Anna Bonsall, he was not locked up. </p>
         <div class = "panel radius">
          <h5> Samuel S. and Anna Bonsall </h5>
          <blockquote> “Samuel [S.] told my Wife that he should be obliged to Kill her. He is so strongly impressed with the belief that we have concluded She must take more care of herself when with him than She has done. He thinks her a fine woman and his expectation of destroying her does not proceed from any dislike of her.” <cite> Isaac Bonsall, January 22, 1822 </cite></blockquote>
        </div>
        <p> This was not the first time that Samuel had expressed his intention of killing Anna Bonsall, but it was the first time that the Bonsalls seemed to think it warranted a response. The response, however, was not directed at Samuel, but at Anna. She was the one who had to be careful, while Samuel continued to have considerable freedom. Later, Samuel S. proved that he could actually follow through on his violent thoughts when he set fire to the Asylum basement. </p>
        <div class = "panel radius">
          <h5> Samuel S. and the Fire</h5>
          <blockquote> “After [the fire] was put out our suspicion fell on Samuel [S.] as the Instrument who upon being questioned about it acknowledged he had done it—that he was tempted to do it so strongly he could not resist it. He has had much liberty of late. We shall be careful in future that no opportunity shall [be] afforded him to do a similar act.” <cite> Isaac Bonsall, May 1, 1822 </cite></blockquote>
        </div>
        <p> Again, the Bonsalls gave Samuel S. a remarkable amount of freedom for someone with his case history. Samuel S. left the Asylum after nine months there, improved, although not all the way cured. <p>
      </div>

		  	<div class="content" id="panel5">
        
        
        <p> Abraham S. was one of the Asylum’s depressed patients.While in the Asylum, Abraham S. tried to commit suicide by hanging himself. Bonsall’s response to Abraham’s suicide attempt shows the darker side of moral treatment: </p>
         <div class = "panel radius">
          <h5> Abraham S.'s Punishment </h5>
          <blockquote> “He proposed that We should drown him [as punishment for trying to kill himself] in consequence of which and in the hope it would have a salutary effect I proposed to the Doctor and Men caretakers to have the Bathing Tub nearly filled with Cold Water and put him in under a pretence [sic.] of drowning him they did so and held him under for some time. He was glad however to get out and willing to live some longer.”  <cite> Isaac Bonsall, February 13, 1821 </cite></blockquote>
        </div>
        <p> Bonsall evidently hoped that Abraham S., seeing how painful it was to die, would want to live longer. Bonsall’s efforts reveal that although moral treatment was supposed to be kinder than traditional treatment of the insane, it still used fear as a method of treatment to some degree. Abraham S. did not try to kill himself again, but he also did not recover. He stayed in the Asylum for about 8 months, and was discharged, still “insane,” into the care of his friends. </p>
      </div>

	</div>
    </div>
</div>



  <div id = "row4">
      <h1> <strong>Further Patient Information </strong> </h1>
        <!-- text center blurb -->
<!-- AC Could we add padding at the top here? And we talked about maybe making this page look like the Glossary to make it more fun. And adding different colors to make the white less boring.-->
        
        <p> Following is a list of information on patients we have compiled starting from the beginning of researching Friends Asylum and Quakers &amp; Mental Health.  As changes or additions are made to existing patients, and as more patients are added to our database, these changes will automatically appear here. </p>
 </div>

 <div id = "newrow">
	
		{% if patients %} <!--refers to name of variable in views containing all patient entries-->
			<ul class = "accordion" data-accordion>
				{% for patient in patients %}				
	
	
		
									
					<li class = "accordion-navigation">
						<a href = "#panel{{forloop.counter0}}">
	Name: {{ patient.patient_Info.first_name }}<br>
	Birth: {{ patient.patient_Info.birth }}<br>
	Death: {{ patient.patient_Info.death }}<br>
	Gender: {{ patient.patient_Info.gender }}<br>
	{% if patient.patient_Info.birthplace %}

	Birthplace: {{ patient.patient_Info.birthplace }}
	
	{% else %}
	Birthplace:
	{% endif %}	
	

											
											</a>

			
					<div id = "panel{{forloop.counter0}}" class = "content">
					        <p>	Age on Arrival: {{ patient.age }} </p>
						<p>	Admit Date: {{ patient.admitdate }} </p>
					        <p>	Exit Date: {{ patient.exitdate }} </p>
						<p>	Status on Exit: {{ patient.status }} </p>
						<p>	Weekly Rate Paid: {{ patient.weekly_Rate }} </p>
						<p>	Significant Notes: {{ patient.notes }} </p>
							
						</div>
					 </li>
					
				{% endfor %}
			</ul>
		{% else %}
			<strong> There are no patient entries present right now. </strong>
		{% endif %}

</div>







				{% include 'footer-simple.html' %}


			<p> <a href = "/found"> Foundation </a>| <a href = "/arch"> Architecture </a>| <a href = "/structure">Structure &amp; Governance </a> </p>
        </div>
        
        

      </div>
    </footer>
			</div> <!-- these are closing tags for nav-menu bar-->
			</div>

		{% include 'bottom-links.html' %}
	</body>
</html>
