{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'top-links.html' %}



    <link rel = "stylesheet" href = "{% static "css/related.css" %}"> <!--this is your css file you will make changes to -->
     <title>Related Projects</title>
   </head> <!-- you always need all these links-->
   

   <body>
    <!--the following really long segment is just the code for the menu/navigation bar!!-->
     <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-large-up">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>
            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li><a href="/">Quakers&amp;Mental Health</a></li>
                <li><a href="/theology">About</a>
                  <ul>
                    <li><a href="/theology">Learn More</a></li>
			<li><a href="#">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                    <li><a href="/contrib">Contribute to Research</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/future">Future Directions</a></li>
                  </ul>
                </li>
                <li><a href="/theology">Backround &amp; Context</a>
                  <ul>
                    <li><a href="/theology">Theology &amp; Mental Health</a></li>
                    <li><a href="/york">York Retreat</a></li>

                  </ul>
                </li>
                 <li><a href="/found">Early History</a></li>
                 <ul>
                    <li><a href="/found">Foundation</a></li>
                    <li><a href="/arch">Architecture</a></li>
                    <li><a href="/structure"> Structure &amp; Governance</a></li>
                    <li><a href="/profiles">Patient Profiles</a></li>
                  </ul>
                </li>
                <li><a href="/moral">Moral Treatment</a></li>
                  <ul>
                    <li><a href="/moral">Introduction</a></li>
                    <li><a href="/religion">Religious Life at the Asylum</a></li>
                    <li><a href="/occu">Occupational Therapy</a></li>
                    
                  </ul>
                <li><a href="/medical">Medical Treatment</a>
                  <ul>
                    <li><a href="/medical">Introduction</a></li>
                    
                  </ul>
                </li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="/bibliograpy">Bibliography &amp; Credits</a></li>
              </ul>
            </aside>
            <a class="exit-off-canvas"></a>
    
      <div class = "sticky">
        <nav class="top-bar show-for-large-up" data-topbar="" role ="navigation">
          <ul class="title-area">
            <li class="name"> </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <ul class = "left">
            <li> <a href= "/">Quakers &amp; Mental Health</a></li>
            </ul> 
            <ul class = "right">
              <li class="active has-dropdown"><a href="/theology">About</a>
                <ul class = "dropdown">
                  <li><a href = "/theology">Learn More</a></li>
			<li class = "active"><a href="/#">Related Projects</a></li>
			<li><a href="/essay">Featured Essay</a></li>
                  <li><a href= "/contrib"> Contribute to Research</a></li>
                  <li><a href="/features">Features</a></li>
                  <li><a href="/future">Future Directions</a></li>
                </ul>
              </li>
               <li class="has-dropdown"><a href="/theology"> Backround &amp; Context</a>
               <ul class="dropdown">
                <li><a href="/theology">Theology &amp; Mental Health</a></li>
                <li><a href="/york">The York Retreat</a></li>
            
               </ul>
              </li>
              <li class = "has-dropdown"><a href="/found"> Early History</a>
               <ul class="dropdown">
                  <li><a href="/found">Foundation</a></li>
                  <li><a href="/arch">Architecture</a></li>
                  <li><a href="/structure"> Structure &amp; Governance</a></li>
                  <li><a href="/profiles">Patient Profiles</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="/moral">Moral Treatment</a>
               <ul class="dropdown">
                <li><a href="/moral">Introduction</a></li>
                <li><a href="/religion">Religious Life at the Asylum</a></li>
                <li><a href="/occu">Occupational Therapy</a></li>
               </ul>
             </li>
             <li class="has-dropdown"><a href="/medical">Medical Treament</a>
               <ul class="dropdown">
                <li><a href="/medical">Introduction</a></li>
               
               </ul>
            </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/bibliography">Bibliography &amp; Credits</a></li>
            </ul>
          </section>
        </nav>
    </div>

    <!-- end of navigation bar-->

   <div id = "rowheader">
	<div class = "row full-width">
      <h1> <strong>Related Projects </strong> </h1>
    </div>
</div>



<div id = "row11">
  
     <div class = "row full-width" data-equalizer>
  <article class = "large-8 large-push-4 medium-12 small-12 columns" data-equalizer-watch>
    <h2 class ="text-center"> The Framing Research </h2>
    
    <p> Abigal Corcoran '16, spent the summer of 2015 pouring through the materials available in Haverford Special Collections about Friends Asylum.  The end product of her summer research was not only a framing essay titled <u>'A Mild and Appropriate System of Treatment': Moral Treatment and the Curability of Mental Illness at Friends Asylum</u> on the early years of Friends Asylum and how the founders' Quakerism affected the way they dealt with mental health, but also the main informational content of this website. </p>
    <aside>
      <ul class = "button-group text-center">
        <li><a href="/essay" target = "_blank" class="button radius">Read the Essay&nbsp;&nbsp;&nbsp;<i class="fi-arrow-right"></i></a></li>
        <li><a href = "/theology" class = "button radius">Learn about the Asylum&nbsp;&nbsp;&nbsp;<i class="fi-arrow-right"></i></a></li>
      </ul>
    </aside>

  </article>
  <aside class = "large-4 large-pull-8  medium-12 small-12 columns text-center" data-equalizer-watch>
        <figure>
<a href = "/essay" target = "_blank">  <img height = "300px" width = "300px" src = "{% static "Images/essay.png" %}"></a>
        
  </figure>
  </aside>
  </div>
  </div>
</div>



        <div id = "row14">
  <div class = "row full-width"> 
       <h2>The Scattergoood Letters</h2>
     </div>
  <div class = "row full-width"> 
    <div class = "large-8 medium-12 small-12 columns"> 
    
   <p>This online exhibit, curated by Jordan Nieusma '14 in the Summer of 2014, is made up of important and representative passages from the journals, letters, and memoirs of Thomas Scattergood (1748-1814). The website contains entries from Scattergood's journals which are unique in their content and the sentiments they convey, but overall convey the identity of a man lost in his spiritual uncertainty and accepting the guidance of his Inner Light.  </p>
   <p>  Thomas Scattergood was a traveling minister, and he spent six years (1794-1800) visiting Quakers in England as a part of his ministry. He suffered from depression, and he was impressed by the Retreat’s humane treatment of the mentally ill. When he returned to the United States, he argued that American Quakers should start an institution similar to the York Retreat. As such, after visiting the York Retreat, Thomas Scattergood was inspired and prompted other Quakers to think of creating what would eventually become Friends Asylum.</p>

   <aside class = 'text-center'>
      <a href = "http://ds.haverford.edu/scattergoodjournals/" target = "_blank" class = "button radius">Go to the Exhibit&nbsp;&nbsp;&nbsp;<i class="fi-arrow-right"></i></a>
    </aside>

</div>



<div class = "large-4 medium-12 small-12 columns">
  
   <figure class = "text-center">
        <ul class = "large-block-grid-1 small-block-grid-1" data-clearing>
        <li> <a href = "http://ds.haverford.edu/scattergoodjournals/" target = "_blank"> <img height = "300px" width = "300px" src = "{% static "Images/scatter.png" %}"></a></li>
        </ul> 
         
          </figure>      
</div>
</div>
</div>


  {% include 'footer-simple.html' %}

              <a href = "/theology"> About </a> | <a href = "/theology"> Learn More </a> | <a href = "/contrib"> Contribute to Research </a> | <a href = "/features"> Features </a> | <a href = "/future"> Future Directions </a> 
        </div>
        
        

      </div>
    </footer>
      

       </div><!-- end inner wrap of menu/navigation bar, must go after ALL content -->
     </div><!-- end offcanvas -->

    {% include 'bottom-links.html' %}
  </body>
</html>

 






    
