    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css">
   <!--make sure to have your custom css styling go after the default foundation css-->
  
  <link rel="stylesheet" href="{{STATIC_URL}}css/icons/foundation-icons.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/icons/foundation-icons.eot">
  <link rel="stylesheet" href="{{STATIC_URL}}css/icons/foundation-icons.svg">
  <link rel="stylesheet" href="{{STATIC_URL}}css/icons/foundation-icons.ttf">
  <link rel="stylesheet" href="{{STATIC_URL}}css/icons/foundation-icons.woff">

 
     <!-- these are custom google fonts used-->
    <link href='https://fonts.googleapis.com/css?family=Tangerine|Shadows+Into+Light|Special+Elite|Poiret+One|Libre+Baskerville|EB+Garamond|Cinzel|Cinzel+Decorative|Amiri|Lustria|Petit+Formal+Script|Quattrocento|Quattrocento+Sans|Philosopher|Quintessential' rel='stylesheet' type='text/css'>
    <!-- link to my custom stylesheet would go right here below-->
   <!-- <link rel="stylesheet" href="static/css/index.css">-->

    <!--javascript included-->
    <script src= "{{STATIC_URL}}js/vendor/modernizr.js"></script>

